Repository maticnetwork/matic-docs, pull requests merged in 2022-11, with the labels that each got.

#1183 Update staking.md
  docs/maintain/validator/core-components/staking.md
Labels: bug

#1154 Update "New To Matic" to include examples on how to query data from Polygon blockchain.
  docs/home/new-to-matic.md
Labels: enhancement, T1: Develop

#1179 New tutorials added / 404 file removed
  docs/develop/developer-resources.md
Labels: enhancement, T1: Develop

#1102 lilt-translations
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/bor-chain.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/contracts/staking.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/heimdall-chain.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/matic-architecture.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/matic-flow.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/security-models.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/setup-bor.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-accounts.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-blockchain-types.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-blockchain.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-consensus-mechanism.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-ethereum.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-gas.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-solidity.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-transactions.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/import-account-to-metamask.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/matic.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/sidechain.md
  i18n/es/docusaurus-plugin-content-docs/current/home/faq.md
  i18n/es/docusaurus-plugin-content-docs/current/home/new-to-matic.md
  i18n/es/docusaurus-plugin-content-docs/current/home/polygon-basics/what-is-polygon.md
  i18n/es/docusaurus-plugin-content-docs/current/home/polygon-basics/what-is-proof-of-stake.md
Labels: translations

#1125 lilt-translations: Spanish
  i18n/es/docusaurus-plugin-content-docs/current/contribute/bug-bounty-program.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/community-maintainers.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/contributor-guidelines.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/how-to-translate.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/non-native-speakers.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/tutorial-template.md
  i18n/es/docusaurus-plugin-content-docs/current/contribute/writing-style.md
Labels: translations

#1141 lilt-translations
  i18n/es/docusaurus-plugin-content-docs/current/edge/additional-features/blockscout.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/additional-features/chainbridge/definitions.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/additional-features/chainbridge/overview.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/additional-features/chainbridge/setup-erc20-transfer.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/additional-features/chainbridge/setup-erc721-transfer.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/additional-features/chainbridge/setup.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/additional-features/chainbridge/use-case-erc20-bridge.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/additional-features/chainbridge/use-case-erc721-bridge.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/additional-features/permission-contract-deployment.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/additional-features/stress-testing.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/blockchain.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/consensus.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/json-rpc.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/minimal.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/networking.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/other-modules.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/sealer.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/state.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/storage.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/syncer.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/txpool.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/modules/types.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/architecture/overview.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/community/propose-new-feature.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/community/report-bug.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/configuration/manage-private-keys.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/configuration/prometheus-metrics.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/configuration/sample-config.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/configuration/secret-managers/set-up-aws-ssm.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/configuration/secret-managers/set-up-gcp-secrets-manager.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/configuration/secret-managers/set-up-hashicorp-vault.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/consensus/bls.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/consensus/migration-to-pos.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/consensus/poa.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/consensus/pos-concepts.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/consensus/pos-stake-unstake.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/faq/Contracts.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/faq/Gas.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/faq/Tokens.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/faq/Validators.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/get-started/cli-commands.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/get-started/installation.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/get-started/json-rpc-commands.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/get-started/set-up-ibft-locally.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/get-started/set-up-ibft-on-the-cloud.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/get-started/terraform-aws-deployment.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/overview.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/performance-reports/overview.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/performance-reports/test-history/test-2022-01-21.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/performance-reports/test-history/test-2022-03-02.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/performance-reports/test-history/test-2022-03-23.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/performance-reports/test-history/test-2022-07-04.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/troubleshooting.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/validator-hosting.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/working-with-node/backup-restore.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/working-with-node/query-json-rpc.md
  i18n/es/docusaurus-plugin-content-docs/current/edge/working-with-node/query-operator-info.md
Labels: translations

#1119 lilt-translations
  i18n/es/docusaurus-plugin-content-docs/current/avail/architecture/avail-consensus.md
  i18n/es/docusaurus-plugin-content-docs/current/avail/architecture/avail-system-overview.md
  i18n/es/docusaurus-plugin-content-docs/current/avail/faq.md
  i18n/es/docusaurus-plugin-content-docs/current/avail/how-tos/avail-quick-start.md
  i18n/es/docusaurus-plugin-content-docs/current/avail/introduction/what-is-avail.md
  i18n/es/docusaurus-plugin-content-docs/current/avail/node/avail-node-management.md
Labels: translations

#1163 lilt-translations
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/deployments/mainnet.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/deployments/testnet.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/deployments/versions.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/faq/faq.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/introduction/overview.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/protocol/actors.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/protocol/circuits.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/protocol/commitments.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/protocol/contracts.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/protocol/mpc.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/protocol/protocol.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/protocol/secrets.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/tools/explorer.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/tools/nightfall-sdk.md
  i18n/es/docusaurus-plugin-content-docs/current/nightfall/tools/nightfall-wallet.md
Labels: translations

#1185 Remove redundant doc on the Bor blockchain
  docs/pos/polygon-architecture.md
Labels: enhancement, T4: PoS

#1153 Include "Access a Full Node with Alchemy" into the Nodes sidebar
  docs/develop/network-details/access-node-alchemy.md
  sidebars.js
Labels: PR: Needs SME Review, PR: DNM, T1: Develop, new page

#1184 CON-213: Update config and guides to Hemidall v0.2.12
  docs/develop/network-details/full-node-binaries.md
  docs/develop/network-details/full-node-deployment.md
  docs/develop/network-details/full-node-docker.md
  docs/integrate/install-gcp.md
  docs/maintain/validate/faq/validator-faq.md
  docs/maintain/validate/run-validator-ansible.md
  docs/maintain/validate/run-validator-binaries.md
  docs/maintain/validator/core-components/state-sync-mechanism.md
Labels: enhancement, T1: Develop, T2: Maintain

#1165 Improves Blockchain Basics
  docs/home/architecture/matic-architecture.md
  docs/home/blockchain-basics/basics-accounts.md
  docs/home/blockchain-basics/basics-blockchain-types.md
  docs/home/blockchain-basics/basics-blockchain.md
  docs/home/blockchain-basics/basics-consensus-mechanism.md
  docs/home/blockchain-basics/basics-ethereum.md
  docs/home/blockchain-basics/basics-gas.md
  docs/home/blockchain-basics/basics-solidity.md
  docs/home/blockchain-basics/basics-transactions.md
  docs/home/blockchain-basics/import-account-to-metamask.md
  docs/home/blockchain-basics/sidechain.md
  docs/home/faq.md
  docs/home/new-to-matic.md
  docs/home/polygon-basics/what-is-polygon.md
  docs/maintain/polygon-basics/who-is-delegator.md
  docs/maintain/polygon-basics/who-is-validator.md
Labels: PR: Please Review, PR: DNM

#1190 Added cross chain bridge overview
  docs/develop/ethereum-polygon/getting-started.md
Labels: enhancement, T1: Develop

#1189 Update alchemy docs
  docs/develop/alchemy.md
Labels: enhancement, T1: Develop

#1192 Update Token Mapper guide and Polygon Wiki thumbnail
  docs/develop/ethereum-polygon/submit-mapping-request.md
  docusaurus.config.js
  static/img/polygon-wiki.png
  static/img/token-mapping/mapping-tool.png
Labels: enhancement, PR: DNM, T1: Develop

#1172 Add API3 Docs for Oracles List
  docs/develop/oracles/api3.md
  docs/develop/oracles/getting-started.md
  sidebars.js
  yarn.lock
Labels: enhancement, T1: Develop, new page

#1202 Update zkEVM support links
  docs/zkEVM/develop.md
Labels: PR: change request, T10: zkEVM

#1198 lilt-translations
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/bor-chain.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/contracts/staking.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/heimdall-chain.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/matic-architecture.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/matic-flow.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/security-models.md
  i18n/es/docusaurus-plugin-content-docs/current/home/architecture/setup-bor.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-accounts.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-blockchain-types.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-blockchain.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-consensus-mechanism.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-ethereum.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-gas.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-solidity.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/basics-transactions.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/import-account-to-metamask.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/matic.md
  i18n/es/docusaurus-plugin-content-docs/current/home/blockchain-basics/sidechain.md
  i18n/es/docusaurus-plugin-content-docs/current/home/faq.md
  i18n/es/docusaurus-plugin-content-docs/current/home/new-to-matic.md
  i18n/es/docusaurus-plugin-content-docs/current/home/polygon-basics/what-is-polygon.md
  i18n/es/docusaurus-plugin-content-docs/current/home/polygon-basics/what-is-proof-of-stake.md
Labels: translations

#1204 Audits Bridges
  docs/develop/ethereum-polygon/getting-started.md
  docs/develop/ethereum-polygon/mintable-assets.md
  docs/develop/ethereum-polygon/plasma/deposit-withdraw-event-plasma.md
  docs/develop/ethereum-polygon/plasma/erc20.md
  docs/develop/ethereum-polygon/plasma/erc721.md
  docs/develop/ethereum-polygon/plasma/eth.md
  docs/develop/ethereum-polygon/plasma/getting-started.md
  docs/develop/ethereum-polygon/pos/calling-contracts/erc1155.md
  docs/develop/ethereum-polygon/pos/calling-contracts/erc20.md
  docs/develop/ethereum-polygon/pos/calling-contracts/erc721.md
  docs/develop/ethereum-polygon/pos/calling-contracts/ether.md
  docs/develop/ethereum-polygon/pos/deposit-withdraw-event-pos.md
  docs/develop/ethereum-polygon/pos/getting-started.md
  docs/develop/ethereum-polygon/pos/mapping-assets.md
  docs/develop/ethereum-polygon/pos/using-sdk/erc1155.md
  docs/develop/ethereum-polygon/pos/using-sdk/erc20.md
  docs/develop/ethereum-polygon/pos/using-sdk/erc721.md
  docs/develop/ethereum-polygon/pos/using-sdk/eth.md
  docs/develop/ethereum-polygon/pos/using-sdk/getting-started.md
  docs/develop/ethereum-polygon/submit-mapping-request.md
  docs/develop/l1-l2-communication/fx-portal.md
  docs/develop/l1-l2-communication/state-transfer.md
  docs/develop/plasma-using-metamask.md
  docs/develop/pos-using-metamask.md
  static/img/token-mapping/mapping-tool.png
Labels: enhancement, T1: Develop, PR: ready to ship

#1187 [Polygon Edge] Edit block gas limit section from local/cloud setup
  docs/edge/get-started/set-up-ibft-locally.md
  docs/edge/get-started/set-up-ibft-on-the-cloud.md
Labels: T6: Edge, PR: ready to ship

#1188 [Polygon Edge] Add syntax and additional info to version command
  docs/edge/get-started/cli-commands.md
Labels: T6: Edge, PR: author input

#1193 Audits Staking section
  docs/develop/ethereum-polygon/submit-mapping-request.md
  docs/maintain/delegate/delegate.md
  static/img/staking/delegate.png
  static/img/staking/delegate2.png
  static/img/staking/delegate3.png
  static/img/staking/home.png
  static/img/staking/move.png
  static/img/staking/move2.png
  static/img/staking/myAccount.png
  static/img/staking/unbond.png
  static/img/staking/validators.png
Labels: enhancement, PR: Please Review, T1: Develop

#1205 CON-221: Updated files in the develop folder
  docs/develop/alchemy.md
  docs/develop/chainide.md
  docs/develop/chainstack.md
  docs/develop/crusthelpers.md
  docs/develop/dagger.md
  docs/develop/dapp-fauna-polygon-react.md
  docs/develop/developer-resources.md
  docs/develop/did-implementation.md
  docs/develop/eip1559.md
  docs/develop/filecoinhelpers.md
  docs/develop/getting-started.md
  docs/develop/hardhat.md
  docs/develop/ipfs.md
  docs/develop/nft-tutorial.md
  docs/develop/nftstorage.md
  docs/develop/plasma-using-metamask.md
  docs/develop/pos-using-metamask.md
  docs/develop/quicknode.md
  docs/develop/remix.md
  docs/develop/replit.md
  docs/develop/truffle.md
  docs/develop/wallets/arkane/create_wallet.md
  docs/develop/wallets/arkane/custom_tokens.md
  docs/develop/wallets/arkane/img/01.png
  docs/develop/wallets/arkane/img/02.png
  docs/develop/wallets/arkane/img/03.png
  docs/develop/wallets/arkane/img/04.png
  docs/develop/wallets/arkane/img/05.png
  docs/develop/wallets/arkane/img/06.png
  docs/develop/wallets/arkane/img/07.png
  docs/develop/wallets/arkane/img/08.png
  docs/develop/wallets/arkane/intro_arkane.md
  docs/develop/wallets/arkane/network.md
  docs/develop/wallets/arkane/support.md
  docs/develop/wallets/connext.md
  docs/develop/wallets/fortmatic.md
  docs/develop/wallets/getting-started.md
  docs/develop/wallets/metamask.md
  docs/develop/wallets/polygon-web-wallet/deposit-eth-dai-on-matic.md
  docs/develop/wallets/polygon-web-wallet/web-wallet-v2-guide.md
  docs/develop/wallets/polygon-web-wallet/web-wallet-v3-guide.md
  docs/develop/wallets/portis.md
  docs/develop/wallets/slashauth.md
  docs/develop/wallets/torus.md
  docs/develop/wallets/venly/create_wallet.md
  docs/develop/wallets/venly/custom_tokens.md
  docs/develop/wallets/venly/img/01.png
  docs/develop/wallets/venly/img/02.png
  docs/develop/wallets/venly/img/03.png
  docs/develop/wallets/venly/img/04.png
  docs/develop/wallets/venly/img/05.png
  docs/develop/wallets/venly/img/06.png
  docs/develop/wallets/venly/intro_arkane.md
  docs/develop/wallets/venly/network.md
  docs/develop/wallets/venly/support.md
  docs/develop/wallets/walletconnect.md
  docs/develop/web3-development.md
  sidebars.js
  static/img/helloworld/metamask-custom-rpc.png
Labels: bug, enhancement, PR: Please Review

#1210 CON-226: Update develop/maintain along with Validator team suggestions
  docs/maintain/delegate/delegate.md
  docs/maintain/delegate/delegator-faq.md
  docs/maintain/glossary.md
  docs/maintain/govern/governance.md
  docs/maintain/govern/polygon-dao.md
  docs/maintain/polygon-basics/liquid-delegation.md
  docs/maintain/polygon-basics/what-is-proof-of-stake.md
  docs/maintain/polygon-basics/who-is-delegator.md
  docs/maintain/polygon-basics/who-is-validator.md
  docs/maintain/port_management.md
  docs/maintain/reporting-issues.md
  docs/maintain/validate/change-signer-address.md
  docs/maintain/validate/faq/how-to.md
  docs/maintain/validate/faq/known-issues.md
  docs/maintain/validate/faq/validator-faq.md
  docs/maintain/validate/getting-started.md
  docs/maintain/validate/move-stake.md
  docs/maintain/validate/run-validator-ansible.md
  docs/maintain/validate/run-validator-binaries.md
  docs/maintain/validate/technical-faqs.md
  docs/maintain/validate/validator-commission-operations.md
  docs/maintain/validate/validator-node-system-requirements.md
  docs/maintain/validate/validator-performance.md
  docs/maintain/validate/validator-responsibilities.md
  docs/maintain/validate/validator-staking-operations.md
  docs/maintain/validator/architecture.md
  docs/maintain/validator/bridge.md
  docs/maintain/validator/core-components/bor-chain.md
  docs/maintain/validator/core-components/checkpoint-mechanism.md
  docs/maintain/validator/core-components/derivatives.md
  docs/maintain/validator/core-components/heimdall-chain.md
  docs/maintain/validator/core-components/key-management.md
  docs/maintain/validator/core-components/proposer-bonus.md
  docs/maintain/validator/core-components/proposer-producer-selection.md
  docs/maintain/validator/core-components/staking.md
  docs/maintain/validator/core-components/state-sync-mechanism.md
  docs/maintain/validator/core-components/transaction-fees.md
  docs/maintain/validator/responsibilities.md
  docs/maintain/validator/rewards.md
Labels: bug, enhancement, PR: Please Review, T2: Maintain, T12: Validator

#1120 [Polygon Edge] Reflecting changes for Polygon-Edge AWS-IA v0.0.3 release
  docs/edge/get-started/terraform-aws-deployment.md
Labels: enhancement, T6: Edge, PR: ready to ship

#1212 [Documentation] Fix misleading typo in validator docs
  docs/maintain/validate/getting-started.md
Labels: enhancement, T2: Maintain

#1215 CON-136: Audited Oracle section
  docs/develop/Randomness/chainlink-vrf.md
  docs/develop/oracles/api3.md
  docs/develop/oracles/bandchain.md
  docs/develop/oracles/bandchainadvanced.md
  docs/develop/oracles/bandstandarddataset.md
  docs/develop/oracles/chainlink.md
  docs/develop/oracles/diadataoracles.md
  docs/develop/oracles/getting-started.md
  docs/develop/oracles/optimisticoracle.md
  docs/develop/oracles/razor.md
  docs/develop/oracles/tellor.md
  sidebars.js
Labels: enhancement, PR: Please Review, T1: Develop

#1203 CON-191: Enhance Edge docs structure
  docs/edge/api/json-rpc-eth.md
  docs/edge/api/json-rpc-net.md
  docs/edge/api/json-rpc-txpool.md
  docs/edge/api/json-rpc-web3.md
  docs/edge/faq/Tokens.md
  docs/edge/overview.md
  sidebars.js
Labels: enhancement, T6: Edge

#1216 Updating Tellor Docs
  docs/develop/oracles/tellor.md
Labels: enhancement, T1: Develop

#1219 CON-208: initiate PoSv1 governance section
  docs/maintain/govern/governance-posv1.md
  docs/maintain/govern/governance.md
  sidebars.js
  src/data/features.js
Labels: T2: Maintain, new page

#1218 CON-229: modularize avail node content
  docs/avail/how-tos/avail-quick-start.md
  docs/avail/introduction/what-is-avail.md
  docs/avail/node/avail-light-client-da.md
  docs/avail/node/avail-node-management.md
  docs/avail/node/avail-validator.md
  docs/avail/node/build-data-availability.md
  sidebars.js
Labels: enhancement, new page, T9: Avail

#1223 CON-231: Add Production Node setup guide for zkEVM
  docs/zkEVM/zknode/setup-local-node.md
  docs/zkEVM/zknode/setup-production-node.md
  sidebars.js
Labels: PR: Please Review, new page, T10: zkEVM
