Repository maticnetwork/matic-docs, pull requests merged in 2022-09, with the labels that each got.

#1079 Include git commit version of releases
  docs/nightfall/deployments/versions.md
Labels: enhancement, T8: Nightfall

#1065 [Polygon Edge] Add troubleshooting section
  docs/edge/troubleshooting.md
  sidebars.js
Labels: T6: Edge

#1078 [Polygon Edge] Permission smart contract deployment
  docs/edge/additional-features/permission-contract-deployment.md
  docs/edge/get-started/cli-commands.md
  docs/edge/get-started/terraform-aws-deployment.md
  sidebars.js
Labels: T6: Edge

#1076 [Polygon Edge] Add questions to FAQ
  docs/edge/faq/Gas.md
  docs/edge/faq/Validators.md
Labels: T6: Edge

#1077 Includes Erigon's Archive Node information
  docs/develop/network-details/erigon/archive-node-ansible.md
  docs/develop/network-details/erigon/archive-node-binaries.md
  docs/develop/network-details/erigon/client-setup.md
  sidebars.js
Labels: enhancement, T1: Develop

#1066 [Polygon Edge] Add BLS feature description
  docs/edge/configuration/manage-private-keys.md
  docs/edge/consensus/bls.md
  docs/edge/consensus/poa.md
  docs/edge/consensus/pos-stake-unstake.md
  docs/edge/get-started/cli-commands.md
  docs/edge/get-started/set-up-ibft-locally.md
  docs/edge/get-started/set-up-ibft-on-the-cloud.md
  sidebars.js
Labels: T6: Edge

#1085 Update remix.md typo
  docs/develop/remix.md
Labels: bug

#1087 Update dependencies
  docs/develop/ipfs.md
  ipfs.md
  package-lock.json
  package.json
  yarn.lock
Labels: enhancement, dependencies

#1081 Add link checker and fix broken links in getting started
  .github/workflows/links-fail-fast.yml
  docs/develop/getting-started.md
Labels: enhancement

#973 CON-84, CON-151: Add to Avail System Overview
  docs/avail/architecture/avail-system-overview.md
Labels: enhancement, T9: Avail

#1092 Add Crust into dStorage section
  docs/develop/crusthelpers.md
  docs/develop/ipfs.md
  docs/home/blockchain-basics/basics-consensus-mechanism.md
  sidebars.js
Labels: T1: Develop, new page

#1093 subgraph docs
  docs/develop/data/graph-data.md
  docs/develop/data/graph-entities.md
  docs/develop/data/graph-queries.md
  sidebars.js
Labels: T1: Develop, new page

#1096 CON-188: Update "Running Node from Binaries"
  docs/develop/getting-started.md
  docs/develop/network-details/full-node-binaries.md
Labels: enhancement, T1: Develop, T2: Maintain
