Repository maticnetwork/matic-docs, pull requests merged in 2022-08, with the labels that each got.

#1018 [Polygon Edge] Validator hosting
  docs/edge/configuration/prometheus-metrics.md
  docs/edge/validator-hosting.md
  sidebars.js
Labels: T6: Edge

#1013 [Polygon Edge]Add extra env parameters to Blockscout
  docs/edge/additional-features/blockscout.md
Labels: enhancement, PR: Please Review, T6: Edge

#979 Audited Alchemy's Tutorial
  docs/develop/alchemy.md
  static/img/alchemy/alchemy-dashboard.png
  static/img/alchemy/calls.png
  static/img/alchemy/create-app.png
  static/img/alchemy/faucet.png
  static/img/alchemy/get-balance.png
  static/img/alchemy/polygon-scan.png
  static/img/alchemy/view-key.png
Labels: enhancement, T1: Develop

#990 Audited Quicknode
  docs/develop/quicknode.md
  static/img/quicknode/brownie-commands.png
  static/img/quicknode/brownie-compile.png
  static/img/quicknode/brownie-run.png
  static/img/quicknode/faucet.png
  static/img/quicknode/http_URL.png
  static/img/quicknode/new-account.png
  static/img/quicknode/polygonscan.png
  static/img/quicknode/token-sol.png
Labels: enhancement, T1: Develop

#1021 [Polygon Edge] Add IBFT quorum + fix existing typo
  docs/edge/get-started/cli-commands.md
Labels: enhancement, T6: Edge

#1025 [Polygon Edge] Fix build command on installation doc
  docs/edge/get-started/installation.md
Labels: enhancement, T6: Edge

#995 Audit Chainstack
  docs/develop/chainstack.md
  static/img/chainstack/join-network.png
  static/img/chainstack/sign-up.png
Labels: enhancement, PR: Please Review, T1: Develop

#1019 Audit ChainIDE tutorial (minor changes)
  docs/develop/chainide.md
Labels: PR: Please Review

#1023 Audti Truffe tutorial
  docs/develop/truffle.md
  static/img/truffle/compile.png
  static/img/truffle/deployed-contract.png
  static/img/truffle/test1.png
  static/img/truffle/test2.png
Labels: PR: Please Review

#1027 [Polygon Edge] Delete "Concepts" category
  docs/edge/concepts/ethereum-state.md
  sidebars.js
Labels: enhancement, T6: Edge

#1022 [Polygon Edge] Add question to Validators FAQ
  docs/edge/faq/Validators.md
Labels: enhancement, T6: Edge

#1026 [Polygon Edge] Mark flag as deprecated
  docs/edge/get-started/cli-commands.md
Labels: enhancement, T6: Edge

#1032 Fixed typo
  docs/develop/nftstorage.md
Labels: bug

#1029 Audited Hardhat Tutorial
  docs/develop/hardhat.md
  static/img/hardhat/quickstart.png
  static/img/hardhat/test.png
Labels: enhancement, PR: Please Review

#1042 Change 'erc721' to 'erc20'
  docs/develop/ethereum-polygon/matic-js/plasma/erc20/withdraw-confirm.md
Labels: bug

#1038 Remove unrelated text
  docs/develop/ethereum-polygon/matic-js/pos/erc721/withdraw-exit-faster.md
Labels: bug

#1039 Remove unrelated text
  docs/develop/ethereum-polygon/matic-js/pos/erc721/withdraw-exit-faster-many.md
Labels: bug

#1041 Remove unrelated text
  docs/develop/ethereum-polygon/matic-js/pos/erc1155/withdraw-exit-faster-many.md
Labels: bug

#1040 Remove unrelated text
  docs/develop/ethereum-polygon/matic-js/pos/erc1155/withdraw-exit-faster.md
Labels: bug

#1043 Remove unrelated text
  docs/develop/ethereum-polygon/matic-js/plasma/erc721/withdraw-confirm-faster.md
Labels: bug

#1044 Update blockscout.md
  docs/edge/additional-features/blockscout.md
Labels: enhancement, T6: Edge

#1035 [Polygon Edge] Add server flags to CLI commands
  docs/edge/get-started/cli-commands.md
Labels: enhancement, T6: Edge

#1034 [Polygon Edge] Terraform AWS deployment
  docs/edge/faq/Contracts.md
  docs/edge/faq/Gas.md
  docs/edge/faq/Tokens.md
  docs/edge/faq/Validators.md
  docs/edge/get-started/terraform-aws-deployment.md
  sidebars.js
Labels: enhancement, T6: Edge

#1047 [Polygon Edge] Update blockscout docs
  docs/edge/additional-features/blockscout.md
Labels: enhancement, T6: Edge

#978 Update card colors
  src/css/custom.css
Labels: enhancement

#1050 [ Polygon Edge ] Revised blockscout deployment docs
  docs/edge/additional-features/blockscout.md
Labels: T6: Edge

#1052 Update /docs/develop/network-details/full-node-docker.md
  docs/develop/network-details/full-node-docker.md
Labels: bug, T1: Develop

#1030 Reviewing docs for Nightfall Owl release
  docs/nightfall/deployments/mainnet.md
  docs/nightfall/deployments/testnet.md
  docs/nightfall/deployments/versions.md
  docs/nightfall/faq/faq.md
  docs/nightfall/imgs/commitment.png
  docs/nightfall/imgs/deposit.png
  docs/nightfall/imgs/key-derivation.png
  docs/nightfall/imgs/nullifier.png
  docs/nightfall/imgs/overview.png
  docs/nightfall/imgs/transfer.png
  docs/nightfall/imgs/transfer_a.png
  docs/nightfall/imgs/transfer_b.png
  docs/nightfall/imgs/withdraw.png
  docs/nightfall/introduction/overview.md
  docs/nightfall/protocol/actors.md
  docs/nightfall/protocol/challengers.md
  docs/nightfall/protocol/circuits.md
  docs/nightfall/protocol/commitments.md
  docs/nightfall/protocol/contracts.md
  docs/nightfall/protocol/mpc.md
  docs/nightfall/protocol/proposers.md
  docs/nightfall/protocol/protocol.md
  docs/nightfall/protocol/secrets.md
  docs/nightfall/protocol/zk-proofs.md
  docs/nightfall/todo.txt
  docs/nightfall/tools/explorer.md
  docs/nightfall/tools/nightfall-sdk.md
  docs/nightfall/tools/nightfall-wallet.md
  docs/nightfall/tools/sdk.md
  docusaurus.config.js
  package.json
  sidebars.js
  yarn.lock
Labels: enhancement, dependencies, T8: Nightfall

#1046 Add covalent reference doc
  docs/develop/data/covalent.md
  docs/develop/data/the-graph.md
  sidebars.js
Labels: P1: Important, PR: Please Review

#1045 TechnicalWriterAssessment_AshutoshTripathi
  docs/develop/getting-started.md
Labels: enhancement, PR: Please Review, T1: Develop

#1061 Update providers list
  docs/develop/network-details/network.md
Labels: enhancement, T1: Develop

#1067 Fix broken links by adding .md extension
  docs/maintain/validate/validator-commission-operations.md
Labels: bug, T2: Maintain

#974 CON-92, CON-98: Add Avail Consensus
  docs/avail/architecture/avail-consensus.md
  sidebars.js
Labels: new page, T9: Avail

#1069 CON-177 Some tweaks
  docs/integrate/network.md
  docs/integrate/quickstart.md
  src/pages/index.js
Labels: enhancement

#1063 [Polygon Edge] Add WebSocket URL
  docs/edge/get-started/set-up-ibft-locally.md
  docs/edge/get-started/set-up-ibft-on-the-cloud.md
Labels: T6: Edge

#1074 Add links to icons (Forks, Issues, PRs…)
  README.md
Labels: enhancement

#1075 [Polygon Edge] Add max-enqueued flag
  docs/edge/get-started/cli-commands.md
Labels: T6: Edge
