Repository maticnetwork/matic-docs, pull requests merged in 2022-06, with the labels that each got.

#915 Landing Page Tweaks + Add Footer
  docusaurus.config.js
  src/css/custom.css
  src/css/footer.scss
  src/data/features.js
  src/pages/index.js
  static/img/Nightfall.png
  static/img/polygon/polygon-logo.webp
Labels: enhancement, P1: Important

#918 Initiate Revamp of Develop Section
  docs/develop/did-implementation.md
  docs/develop/did-implementation/introduction.md
  docs/develop/eip1559.md
  docs/develop/getting-started-rpc.md
  docs/develop/getting-started.md
  docs/develop/graph.md
  sidebars.js
Labels: enhancement, P1: Important, T1: Develop

#919 Deprecate Wallet list and Content on CEX/Fiat On-ramp
  docs/develop/cexs-wallets/cexs.md
  docs/develop/cexs-wallets/fiat-ramps.md
  docs/develop/cexs-wallets/wallets.md
  docs/develop/fiat-on-ramp.md
Labels: enhancement, P1: Important, T1: Develop

#924 Update Network Details
  docs/develop/getting-started-rpc.md
  docs/develop/network-details/network.md
  docs/develop/network-details/network.mdx
  sidebars.js
Labels: P2: Sometime Soon, PR: Please Review, T1: Develop

#928 Remove reference to deployment repo
  docs/avail/node/avail-node-management.md
Labels: enhancement, P1: Important, PR: Please Review

#927 Address Dependabot Alerts
  package.json
  yarn.lock
Labels: dependencies

#929 removed slugs
  docs/nightfall/deployments/mainnet.md
  docs/nightfall/deployments/testnet.md
  docs/nightfall/faq/faq.md
  docs/nightfall/introduction/introduction.md
  docs/nightfall/introduction/overview.md
  docs/nightfall/protocol/actors.md
  docs/nightfall/protocol/challengers.md
  docs/nightfall/protocol/circuits.md
  docs/nightfall/protocol/commitments.md
  docs/nightfall/protocol/contracts.md
  docs/nightfall/protocol/proposers.md
  docs/nightfall/protocol/protocol.md
  docs/nightfall/protocol/secrets.md
  docs/nightfall/protocol/zk-proofs.md
  docs/nightfall/tools/block-explorer.md
  docs/nightfall/tools/nightfall-wallet.md
  docs/nightfall/tools/sdk.md
Labels: enhancement

#920 Create Content for Meta Transactions
  docs/develop/meta-transactions/getting-started.md
  docs/develop/meta-transactions/network-agnostics.md
  docs/develop/metatransactions/getting-started.md
  docs/develop/metatransactions/metatransactions-biconomy.md
  docs/develop/metatransactions/metatransactions-gsn.md
  docusaurus.config.js
  sidebars.js
Labels: P2: Sometime Soon, T1: Develop

#925 Introduce Hubs & Tweaks to Landing Page
  src/css/custom.css
  src/data/features.js
  src/pages/index.js
Labels: enhancement, P2: Sometime Soon, PR: Please Review

#937 Proposes Structure Rearrangement
  docs/develop/dapp-fauna-polygon-react.md
  docs/develop/did-implementation.md
  docs/develop/ethereum-polygon/getting-started.md
  docs/develop/ethereum-polygon/submit-mapping-request.md
  docs/develop/filecoinhelpers.md
  docs/develop/getting-started.md
  docs/develop/ipfs.md
  docs/develop/meta-transactions/getting-started.md
  docs/develop/metamask/overview.md
  docs/develop/network-details/full-node-deployment.md
  docs/develop/network-details/gas-token.mdx
  docs/develop/network-details/network.md
  docs/develop/network-details/snapshot-instructions-heimdall-bor.md
  docs/develop/network-details/technical-requirements.md
  docs/develop/nftstorage.md
  docusaurus.config.js
  sidebars.js
Labels: enhancement, P2: Sometime Soon, T1: Develop

#939 Fix the GCP node installation instructions
  docs/integrate/install-gcp.md
Labels: bug, T3: Integrate

#940 Point the block explorer the right URL
  docs/develop/network-details/network.md
Labels: bug, T1: Develop

#943 Removed Bridge details which is no more maintained now.
  docs/develop/filecoinhelpers.md
Labels: enhancement, T1: Develop

#942 Updated Storage Requirements
  docs/maintain/validate/validator-node-system-requirements.md
Labels: enhancement, T2: Maintain

#947 Fix typo in avail-node-management.md
  docs/avail/node/avail-node-management.md
Labels: enhancement

#948 Fix: Sidebar Title (approve -> approveAll)
  docs/develop/ethereum-polygon/matic-js/pos/erc1155/approve-all.md
Labels: enhancement, T1: Develop

#949 Fix: Sidebar Title (approve -> approveAllForMintable)
  docs/develop/ethereum-polygon/matic-js/pos/erc1155/approve-all-for-mintable.md
Labels: enhancement, T1: Develop

#930 Add Partner Wallets and Modify Wallets Page
  docs/develop/wallets/getting-started.md
  docs/faq/wallet-list.mdx
  docusaurus.config.js
  sidebars.js
Labels: P1: Important, PR: Needs SME Review, PR: WIP, T1: Develop

#951 Update Ansible References
  docs/develop/network-details/full-node-binaries.md
  docs/develop/network-details/full-node-deployment.md
  docs/maintain/validate/run-validator-ansible.md
  docs/maintain/validate/run-validator-binaries.md
Labels: enhancement, T2: Maintain

#953 Change Polygon Edge to Matic.js
  docs/develop/ethereum-polygon/pos/using-sdk/getting-started.md
  sidebars.js
Labels: enhancement, T1: Develop

#945 Add ChainIDE doc
  docs/develop/chainide.md
  sidebars.js
Labels: T1: Develop, new page
