Repository maticnetwork/matic-docs, pull requests merged in 2022-12, with the labels that each got.

#1232 Update Node section
  docs/develop/network-details/full-node-deployment.md
  docs/develop/network-details/full-node-docker.md
  docs/develop/network-details/snapshot-instructions-heimdall-bor.md
  docs/develop/network-details/technical-requirements.md
  docs/maintain/validate/validator-node-system-requirements.md
Labels: PR: Please Review

#1235 [Polygon Edge] Add Google Cloud Deployment guide to Edge docs
  docs/edge/get-started/gcp-marketplace-deployment.md
  sidebars.js
  static/img/edge/assets/gcp-marketplace-postdeployment.sh
  static/img/edge/assets/images/image1.png
  static/img/edge/assets/images/image10.png
  static/img/edge/assets/images/image11.png
  static/img/edge/assets/images/image12.png
  static/img/edge/assets/images/image13.png
  static/img/edge/assets/images/image14.png
  static/img/edge/assets/images/image15.png
  static/img/edge/assets/images/image16.png
  static/img/edge/assets/images/image17.png
  static/img/edge/assets/images/image18.png
  static/img/edge/assets/images/image19.png
  static/img/edge/assets/images/image2.png
  static/img/edge/assets/images/image20.png
  static/img/edge/assets/images/image21.png
  static/img/edge/assets/images/image22.png
  static/img/edge/assets/images/image23.png
  static/img/edge/assets/images/image24.png
  static/img/edge/assets/images/image25.png
  static/img/edge/assets/images/image26.png
  static/img/edge/assets/images/image3.png
  static/img/edge/assets/images/image4.png
  static/img/edge/assets/images/image5.png
  static/img/edge/assets/images/image6.png
  static/img/edge/assets/images/image7.png
  static/img/edge/assets/images/image8.png
  static/img/edge/assets/images/image9.png
Labels: PR: Please Review, T6: Edge

#1236 Update miden from v0.2 to v0.3
  docs/miden/intro/main.md
  docs/miden/intro/overview.md
  docs/miden/intro/usage.md
Labels: PR: ready to ship, T13: Miden

#1237 Added a testnet and mainnet deployment stage
  docs/develop/remix.md
Labels: enhancement, PR: Please Review, T1: Develop

#1242 Update Metadata for Governance and Products
  docs/edge/validator-hosting.md
  docs/faq/technical-faqs.md
  docs/integrate/network.md
  docs/maintain/govern/governance-posv1.md
  docs/maintain/validate/technical-faqs.md
  docs/miden/design/chiplets/bitwise.md
  docs/miden/design/chiplets/hasher.md
  docs/miden/design/chiplets/main.md
  docs/miden/design/chiplets/memory.md
  docs/miden/design/decoder/constraints.md
  docs/miden/design/decoder/main.md
  docs/miden/design/main.md
  docs/miden/design/multiset.md
  docs/miden/design/programs.md
  docs/miden/design/range.md
  docs/miden/design/stack/crypto_ops.md
  docs/miden/design/stack/field_ops.md
  docs/miden/design/stack/io_ops.md
  docs/miden/design/stack/main.md
  docs/miden/design/stack/op_constraints.md
  docs/miden/design/stack/stack_ops.md
  docs/miden/design/stack/system_ops.md
  docs/miden/design/stack/u32_ops.md
  docs/miden/intro/main.md
  docs/miden/intro/overview.md
  docs/miden/intro/performance.md
  docs/miden/intro/usage.md
  src/data/features.js
Labels: enhancement, PR: Please Review

#1248 Add Snyk action for security/vulnerability scanning
  .github/workflows/security-build.yml
Labels: dependencies

#1243 Update what-is-proof-of-stake.md
  docs/home/polygon-basics/what-is-proof-of-stake.md
Labels: bug, T0: Learning, PR: ready to ship

#1247 CON-94: Configure Google Analytics into Polygon Wiki
  docusaurus.config.js
Labels: enhancement, P3: Nice To Have

#1214 CON-217: Audits wallets section
  docs/develop/metamask/config-polygon-on-metamask.md
  docs/develop/metamask/config-polygon-on-wallet-link.md
  docs/develop/metamask/custom-tokens.md
  docs/develop/metamask/multiple-accounts.md
  docs/develop/metamask/overview.md
  docs/develop/metamask/tutorial-metamask.md
  docs/develop/wallets/fortmatic.md
  docs/develop/wallets/getting-started.md
  docs/develop/wallets/polygon-web-wallet/deposit-eth-dai-on-matic.md
  docs/develop/wallets/polygon-web-wallet/web-wallet-v3-guide.md
  docs/develop/wallets/portis.md
  docs/develop/wallets/slashauth.md
  docs/develop/wallets/torus.md
  docs/develop/wallets/venly/create_wallet.md
  docs/develop/wallets/venly/custom_tokens.md
  docs/develop/wallets/venly/intro_arkane.md
  docs/develop/wallets/venly/network.md
  docs/develop/wallets/venly/support.md
  docs/develop/wallets/walletconnect.md
  sidebars.js
  static/img/metamask/develop/add-chrome.png
  static/img/metamask/develop/add-extension.png
  static/img/metamask/develop/add-test-token.png
  static/img/metamask/develop/added-token.png
  static/img/metamask/develop/create-password.png
  static/img/metamask/develop/import-account.png
  static/img/metamask/develop/metamask-home.png
  static/img/metamask/develop/new-metamask.png
  static/img/metamask/develop/phrase.gif
  static/img/metamask/develop/reveal-phrase.png
  static/img/metamask/develop/testnet-addnetwork.png
  static/img/metamask/develop/token-contract-address.png
Labels: enhancement, PR: Please Review, T1: Develop

#1249 fix: update table in governance doc
  docs/maintain/govern/governance-posv1.md
Labels: enhancement, T2: Maintain

#1167 [Polygon Edge] Remove seal flag + add missing flag to index
  docs/edge/get-started/cli-commands.md
Labels: T6: Edge, PR: ready to ship

#1180 [Polygon Edge] Add disclaimer about loadbot
  docs/edge/performance-reports/overview.md
  docs/edge/performance-reports/test-history/test-2022-01-21.md
  docs/edge/performance-reports/test-history/test-2022-03-02.md
  docs/edge/performance-reports/test-history/test-2022-03-23.md
  docs/edge/performance-reports/test-history/test-2022-07-04.md
Labels: enhancement, T6: Edge

#1250 Updated validator faq
  docs/maintain/validate/faq/validator-faq.md
Labels: enhancement, P1: Important, T12: Validator

#1251 Updates Heimdall API endpoints
  docs/develop/network-details/network.md
Labels: P0: Urgent, PR: Please Review

#1246 Create fig16-pil-b-cmmt.png
  docs/zkEVM/PIL/components.md
  docs/zkEVM/PIL/figures/fig16-pil-b-cmmt.png
Labels: bug, T10: zkEVM

#1252 Fixing incorrect urls
  docs/develop/network-details/full-node-docker.md
Labels: bug, T1: Develop

#1259 [Documentation] Fix broken links to Cosmos Docs
  docs/pos/heimdall/transactions.md
Labels: bug

#1256 Add Cloudflare docs to docs/develop/developer-resources.md
  docs/develop/developer-resources.md
Labels: enhancement, T1: Develop

#1254 Moves "Adding a custom token" to Wallet section
  sidebars.js
Labels: enhancement, PR: ready to ship

#1261 Update chainstack.md
  docs/develop/chainstack.md
Labels: bug, enhancement, T1: Develop

#1253 Includes easy way to add Polygon mainnet to Metamask
  docs/develop/metamask/config-polygon-on-metamask.md
  static/img/metamask/add-polygon-mainnet-2.png
  static/img/metamask/add-polygon-mainnet-3.png
  static/img/metamask/add-polygon-mainnet-4.png
  static/img/metamask/add-polygon-mainnet-5.png
  static/img/metamask/add-polygon-mainnet.png
Labels: enhancement, PR: Please Review

#1233 feat: add debug_tracing RPCs as part of v0.7.0 release
  docs/edge/api/json-rpc-debug.md
  docs/edge/api/json-rpc-net.md
  sidebars.js
Labels: new page, T6: Edge

#1260 Improves Wallet Faq
  docs/faq/wallet-bridge-faq.md
  static/img/faq/wallet/supported-wallets.png
  static/img/faq/wallet/wallet-hp.png
Labels: enhancement, PR: Please Review

#1270 Updates Bor and Heimdall versions to 0.3.0
  docs/develop/network-details/full-node-binaries.md
  docs/develop/network-details/full-node-deployment.md
  docs/develop/network-details/full-node-docker.md
  docs/integrate/install-gcp.md
  docs/maintain/validate/faq/validator-faq.md
  docs/maintain/validate/run-validator-ansible.md
  docs/maintain/validate/run-validator-binaries.md
  docs/maintain/validator/core-components/state-sync-mechanism.md
Labels: enhancement, T1: Develop

#1271 feat(develop): Update the Miscellaneous section
  docs/develop/tools/alchemy-faucet.md
  docs/develop/tools/matic-gas-station.md
  docs/develop/tools/polygon-faucet.md
  docs/develop/tools/polygon-gas-station.md
  sidebars.js
  static/img/tools/confirm-transaction.png
  static/img/tools/faucet.png
  static/img/tools/select-tokens.png
  static/img/tools/submitted.png
  static/img/tools/success.png
Labels: PR: Please Review, T1: Develop

#1272 feat(zkEVM): Added the Introduction to zkEVM article
  docs/zkEVM/develop.md
  docs/zkEVM/introduction.md
  docs/zkEVM/overview.md
  sidebars.js
  src/data/features.js
Labels: enhancement, PR: Please Review, new page, T10: zkEVM

#1273 Add description for Polygon Wiki
  docusaurus.config.js
Labels: P3: Nice To Have, PR: Please Review

#1281 feat(zkEVM): Add zkEVM documentation about mFibonacci SM
  docs/zkEVM/overview.md
  docs/zkEVM/zkProver/commitment-scheme.md
  docs/zkEVM/zkProver/design.md
  docs/zkEVM/zkProver/figures/arch-fig1-simpl-arch.png
  docs/zkEVM/zkProver/figures/arch-fig2-simple-poe.png
  docs/zkEVM/zkProver/figures/arch-fig3-zkNode-arch.png
  docs/zkEVM/zkProver/figures/arch-fig4-zkProv-arch.png
  docs/zkEVM/zkProver/figures/arch-fig5-col-sm-zkprov.png
  docs/zkEVM/zkProver/figures/arch-fig6-exit-tr-strct.png
  docs/zkEVM/zkProver/figures/big-picture.png
  docs/zkEVM/zkProver/figures/fib1-prover-design-approach.png
  docs/zkEVM/zkProver/figures/fib10-pil-eg-mfibonacci.png
  docs/zkEVM/zkProver/figures/fib11-pilcom-res-mfibon.png
  docs/zkEVM/zkProver/figures/fib12-inside-parsed-pil.png
  docs/zkEVM/zkProver/figures/fib13-pil-stark-setup.png
  docs/zkEVM/zkProver/figures/fib14-pil-stark-in-prover.png
  docs/zkEVM/zkProver/figures/fib15-pil-stark-in-verifier.png
  docs/zkEVM/zkProver/figures/fib16-pil-stark-basic-diagram.png
  docs/zkEVM/zkProver/figures/fib17-mfib-pil-w-pubs.png
  docs/zkEVM/zkProver/figures/fib18-non-empt-pubs-field.png
  docs/zkEVM/zkProver/figures/fib19-init-node-project.png
  docs/zkEVM/zkProver/figures/fib2-simplified-sm-eg.png
  docs/zkEVM/zkProver/figures/fib20-dependncs-install-mfib.png
  docs/zkEVM/zkProver/figures/fib3-sm-compt-trace.png
  docs/zkEVM/zkProver/figures/fib4-deterministic-compt.png
  docs/zkEVM/zkProver/figures/fib5-design-approach-outline.png
  docs/zkEVM/zkProver/figures/fib6-mfibon-sm-2-regs.png
  docs/zkEVM/zkProver/figures/fib7-mfibon-sm-3-regs.png
  docs/zkEVM/zkProver/figures/fib8-code-eg-exec-trace.png
  docs/zkEVM/zkProver/figures/fib9-stark-prf-sizes-times.png
  docs/zkEVM/zkProver/figures/fig-micro-pro-pic.png
  docs/zkEVM/zkProver/figures/fig1-zkprv-and-node.png
  docs/zkEVM/zkProver/figures/fig2-actions-sec-sm.png
  docs/zkEVM/zkProver/figures/fig5-main-prts-zkpr.png
  docs/zkEVM/zkProver/figures/plook-ops-mainSM-copy.png
  docs/zkEVM/zkProver/mfibonacci-example.md
  docs/zkEVM/zkProver/mfibonacci.md
  docs/zkEVM/zkProver/overview.md
  docs/zkEVM/zkProver/pil-stark-demo.md
  docs/zkEVM/zkProver/pil-stark.md
  docs/zkEVM/zkProver/verification-scheme.md
  sidebars.js
Labels: new page, T10: zkEVM

#1262 feat: add polybft overview
  docs/edge/consensus/polybft.md
  sidebars.js
Labels: PR: Needs SME Review, new page, T6: Edge

#1288 Adds Swap queries
  docs/faq/wallet-bridge-faq.md
Labels: enhancement

#1287 feat(zkEVM): Add Generic SM docs
  docs/zkEVM/zkProver/ending-program.md
  docs/zkEVM/zkProver/exec-trace-correct.md
  docs/zkEVM/zkProver/figures/gen1-typical-gen-sm.png
  docs/zkEVM/zkProver/figures/gen2-mfib-exec-w-inputs.png
  docs/zkEVM/zkProver/figures/gen3-gen-sm-w-input-instrctn.png
  docs/zkEVM/zkProver/figures/gen4-sm-alg-processor.png
  docs/zkEVM/zkProver/figures/gen5-sm-exec-broader-contxt.png
  docs/zkEVM/zkProver/figures/gen6-pil-4instrct-prog.png
  docs/zkEVM/zkProver/figures/gen7-state-machine-w-zkpc.png
  docs/zkEVM/zkProver/figures/gen8-end-prog-w-loop.png
  docs/zkEVM/zkProver/intro-generic-sm.md
  docs/zkEVM/zkProver/program-counter.md
  sidebars.js
Labels: P0: Urgent, new page, T10: zkEVM

#1255 Update overview.md
  docs/edge/architecture/overview.md
Labels: enhancement, T6: Edge

#1290 Fix typo in nightfall-sdk.md
  docs/nightfall/tools/nightfall-sdk.md
Labels: typo

#1289 [Polygon ID] Update PID links
  docs/polygonid/overview.md
Labels: enhancement, T11: Polygon ID, PR: ready to ship

#1230 [Polygon Edge] Change stable branch
  docs/edge/get-started/installation.md
Labels: T6: Edge, PR: ready to ship
