Repository maticnetwork/matic-docs, pull requests merged in 2022-10, with the labels that each got.

#1084 [Polygon Edge] Add gas and tx questions to FAQ
  docs/edge/faq/Gas.md
  docs/edge/faq/Tokens.md
Labels: T6: Edge

#1083 [Polygon Edge] Edit wrongly spelled PoA/ PoS/ BlockScout
  docs/edge/additional-features/blockscout.md
  docs/edge/troubleshooting.md
Labels: T6: Edge

#1086 [Polygon Edge] Bump the default premine balance
  docs/edge/get-started/cli-commands.md
  docs/edge/working-with-node/query-json-rpc.md
Labels: T6: Edge

#1121 add new update for beta2.1
  docs/nightfall/deployments/versions.md
  docs/nightfall/protocol/commitments.md
  docs/nightfall/protocol/protocol.md
Labels: T8: Nightfall

#1028 [Polygon Edge] Add documentation on SC predeployment
  docs/edge/additional-features/predeployment.md
  docs/edge/get-started/cli-commands.md
  sidebars.js
Labels: enhancement, PR: Please Review, new page, T6: Edge

#1137 Fixes commands from validate and develop sections
  docs/develop/network-details/full-node-binaries.md
  docs/develop/network-details/full-node-deployment.md
  docs/maintain/validate/run-validator-binaries.md
Labels: enhancement, T1: Develop, T2: Maintain

#1116 [Polygon Edge] Add videos for BLS + Permission smart contract deployment
  docs/edge/additional-features/permission-contract-deployment.md
  docs/edge/consensus/bls.md
Labels: T6: Edge

#1106 [Polygon Edge] Fix the look of links
  docs/edge/consensus/migration-to-pos.md
  docs/edge/get-started/set-up-ibft-locally.md
  docs/edge/get-started/set-up-ibft-on-the-cloud.md
Labels: T6: Edge

#1162 Testing Broken Link fix
  docs/develop/network-details/full-node-binaries.md
Labels: enhancement

#1158 Update chainide doc s3 links
  docs/develop/chainide.md
Labels: enhancement, PR: change request, T1: Develop

#1118 [Polygon Edge] Add index for server and genesis commands
  docs/edge/get-started/cli-commands.md
Labels: T6: Edge

#1148 [Polygon Edge] Add Smart Contract Predeployment video
  docs/edge/additional-features/predeployment.md
Labels: T6: Edge

#1159 [Polygon Edge] Update setup guide
  docs/edge/get-started/set-up-ibft-locally.md
  docs/edge/get-started/set-up-ibft-on-the-cloud.md
Labels: T6: Edge

#1168 Graph docs update
  docs/develop/data/graph-data.md
  docs/develop/data/graph-entities.md
Labels: enhancement, PR: change request, T1: Develop

#1171 Update zkEVM Docs
  docs/zkEVM/open-source-repos.md
  docs/zkEVM/overview.md
  sidebars.js
Labels: enhancement, T10: zkEVM

#1173 Update features.js
  src/data/features.js
Labels: enhancement

#1169 Update config file types
  docs/edge/get-started/set-up-ibft-locally.md
Labels: enhancement, T6: Edge

#1170 Fix broken Staking smart contract link
  docs/edge/consensus/pos-concepts.md
Labels: enhancement, T6: Edge

#1174 Fix for broken links
  docs/maintain/glossary.md
Labels: bug

#1175 Fix Katex Build
  docs/develop/ethereum-polygon/plasma/getting-started.md
  docusaurus.config.js
  i18n/ko/docusaurus-plugin-content-docs/current/nightfall/protocol/secrets.md
Labels: bug, PR: Please Review

#1091 [Polygon Edge] Add polygon-edge output command referece to start guides
  docs/edge/get-started/cli-commands.md
  docs/edge/get-started/set-up-ibft-locally.md
  docs/edge/get-started/set-up-ibft-on-the-cloud.md
Labels: PR: DNM, T6: Edge

#1166 [Polygon Nightfall] update SDK
  docs/nightfall/tools/nightfall-sdk.md
  docs/nightfall/tools/proposer-installation.md
  docs/nightfall/tools/user-sdk-api.md
  docs/nightfall/tools/user-sdk-examples.md
  docs/nightfall/tools/user-sdk-getting-started.md
  docs/nightfall/tools/user-sdk-installation.md
  docs/nightfall/tools/user-sdk-overview.md
  sidebars.js
  yarn.lock
Labels: enhancement, T8: Nightfall
