Repository maticnetwork/matic-docs, pull requests merged in 2023-04, with the labels that each got.

#1565 enh(supernets): tweaks to deployment guides
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
  sidebars.js
Labels: enhancement, T14: Supernets

#1567 fix(supernets): correct deployment script name in quick start
  docs/supernets/operate/quick-start.md
Labels: bug, T14: Supernets

#1558 feat(PoS): update archive node setup
  docs/operate/client-setup.md
  docs/operate/setup-archive-node.md
  sidebars.js
Labels: enhancement, PR: Please Review, PR: Needs SME Review

#1569 enh(zkEVM): update develop.md
  docs/zkEVM/develop.md
Labels: enhancement, T10: zkEVM

#1540 Updated API3.md under Oracles
  docs/develop/oracles/api3.md
  static/img/api3/SS4.png
  static/img/api3/airnode1.png
  static/img/api3/airnode2.png
  static/img/api3/market1.png
  static/img/api3/market2.png
  static/img/api3/market3.png
  static/img/api3/market4.png
  static/img/api3/market5.png
  static/img/api3/market6.png
Labels: enhancement, T1: Develop

#1534 Update issuer-overview.md
  docs/polygonid/issuer/issuer-overview.md
Labels: enhancement, T11: Polygon ID

#1573 feat/enh(wiki): styling for tabs, sidebar, and landing page updates
  src/css/custom.css
  src/pages/index.js
Labels: enhancement

#1574 feat(supernets): tabify deployment guides
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/quick-start.md
  sidebars.js
Labels: enhancement, T14: Supernets

#1575 enh(supernets): deployment guide improvements
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/quick-start.md
  sidebars.js
  src/css/custom.css
Labels: enhancement, T14: Supernets

#1577 fix(supernets): deployment command and format updates
  docs/supernets/operate/deploy-bridge.md
  docs/supernets/operate/local-supernet.md
Labels: bug, enhancement, T14: Supernets

#1576 enh(wiki): remove use case cards
  src/pages/index.js
Labels: enhancement

#1579 bug(PoS): update `testnet` to `mumbai`
  docs/operate/full-node.md
Labels: bug, PR: Please Review, T4: PoS, PR: ready to ship

#1571 Redirects Polygon ID
  docusaurus.config.js
  polygonid/contracts/overview.md
  polygonid/issuer/issuer-overview.md
  polygonid/logo-white.svg
  polygonid/logo.svg
  polygonid/overview.md
  polygonid/verifier/on-chain-verification/overview.md
  polygonid/verifier/verification-library/config.md
  polygonid/verifier/verification-library/jwz.md
  polygonid/verifier/verification-library/request-api-guide.md
  polygonid/verifier/verification-library/verification-api-guide.md
  polygonid/verifier/verification-library/verifier-library-intro.md
  polygonid/verifier/verification-library/verifier-set-up.md
  polygonid/verifier/verification-library/zk-query-language.md
  polygonid/verifier/verifier-overview.md
  polygonid/wallet/wallet-overview.md
  sidebars.js
  src/data/features.js
  src/pages/index.js
Labels: PR: Please Review, PR: DNM, PR: WIP

#1584 feat(wiki): add download button
  docs/supernets/operate/install.md
  sidebars.js
  src/css/download-button.css
  src/data/DownloadButton.js
Labels: enhancement, T14: Supernets

#1581 update test-chain-port
  docs/supernets/operate/local-supernet.md
Labels: T14: Supernets, typo

#1585 feat(supernets): tabify install doc
  docs/supernets/operate/install.md
  docs/supernets/operate/local-supernet.md
  src/css/custom.css
Labels: enhancement, T14: Supernets

#1586 enh(supernets): improvements to setup & install gudies
  docs/supernets/operate/install.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/quick-start.md
  docs/supernets/operate/system.md
Labels: enhancement, T14: Supernets

#1587 enh(wiki): caution admonition styling
  src/css/custom.css
Labels: enhancement, PR: Please Review

#1589 enh(supernets): improve and simplify deployment guides
  docs/supernets/operate/local-supernet.md
  src/css/custom.css
Labels: enhancement

#1591 Update network.md
  docs/operate/network.md
Labels: ext:infra, type:footprint

#1593 enh(supernets): content management improvements for deployment guides
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/install.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/quick-start.md
  docs/supernets/operate/system.md
  src/css/custom.css
Labels: type:enhancement, pos:supernets, type:refactor

#1595 enh(supernets): general tweaks
  docs/supernets/operate/deploy-bridge.md
  docs/supernets/operate/install.md
Labels: pos:supernets, type:footprint

#1597 enh(supernets): guide improvements
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/local-supernet.md
Labels: type:enhancement, pos:supernets

#1599 enh(wallets): getting started updates
  docs/develop/wallets/getting-started.md
Labels: type:enhancement, ext:wallet, int:wallet

#1385 Add GetBlock Tutorial to the documentation section
  docs/develop/getblock.md
  sidebars.js
Labels: area:build, type:new, ext:infra

#1600 update(supernets): general writing style improvements
  docs/supernets/design/assets/erc/erc20.md
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/system.md
Labels: pos:supernets, type:footprint

#1601 chore(supernets): remove one-click placeholder
  docs/supernets/operate/deploy-cloud.md
Labels: pos:supernets, type:footprint

#1602 Update docusaurus.config.js
  docusaurus.config.js
Labels: type:footprint

#1603 update(supernets): consolidate, improve formatting and bring up-to-date with v0.8.1
  docs/supernets/changelog.md
  docs/supernets/design/overview.md
  docs/supernets/get-started/what-are-supernets.md
  docs/supernets/operate/deploy-bridge.md
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/faqs.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/quick-start.md
  sidebars.js
  src/css/custom.css
Labels: type:enhancement, pos:supernets, type:refactor

#1604 update(supernets): remove --validator-set-size from genesis
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/quick-start.md
Labels: pos:supernets, type:footprint

#1598 Added Lighthouse to Filecoin Storage Helpers
  docs/develop/filecoinhelpers.md
Labels: area:build, type:footprint

#1457 Create archive-node-nodereal
  docs/operate/archive-node-nodereal
Labels: need:change, area:operate, type:new, ext:infra

#1606 update(mainnet): remove outdated known issues
  docs/faq/validator-faq.md
  docs/maintain/validate/kb/known-issues.md
Labels: type:enhancement, need:review, pos:mainnet, area:validate

#1610 chore: include Binary SM doc
  sidebars.js
Labels: zk:zkevm, type:chore

#1605 chore(wiki): add third-party content disclaimer
  CONTENT_DISCLAIMER.md
  docs/develop/alchemy.md
  docs/develop/chainide.md
  docs/develop/chainstack.md
  docs/develop/crusthelpers.md
  docs/develop/dagger.md
  docs/develop/data/covalent.md
  docs/develop/data/graph-data.md
  docs/develop/data/graph-entities.md
  docs/develop/data/graph-queries.md
  docs/develop/data/the-graph.md
  docs/develop/developer-resources.md
  docs/develop/filecoinhelpers.md
  docs/develop/getblock.md
  docs/develop/metamask/config-polygon-on-metamask.md
  docs/develop/metamask/config-polygon-on-wallet-link.md
  docs/develop/metamask/custom-tokens.md
  docs/develop/metamask/multiple-accounts.md
  docs/develop/metamask/overview.md
  docs/develop/metamask/tutorial-metamask.md
  docs/develop/nftstorage.md
  docs/develop/oracles/api3.md
  docs/develop/oracles/bandchain.md
  docs/develop/oracles/bandstandarddataset.md
  docs/develop/oracles/chainlink.md
  docs/develop/oracles/diadataoracles.md
  docs/develop/oracles/getting-started.md
  docs/develop/oracles/optimisticoracle.md
  docs/develop/oracles/razor.md
  docs/develop/oracles/tellor.md
  docs/develop/quicknode.md
  docs/develop/tools/graph.md
  docs/develop/wallets/connext.md
  docs/develop/wallets/fortmatic.md
  docs/develop/wallets/getting-started.md
  docs/develop/wallets/plaid-wallet-onboard.md
  docs/develop/wallets/portis.md
  docs/develop/wallets/slashauth.md
  docs/develop/wallets/torus.md
  docs/develop/wallets/venly/create_wallet.md
  docs/develop/wallets/venly/custom_tokens.md
  docs/develop/wallets/venly/intro_arkane.md
  docs/develop/wallets/venly/network.md
  docs/develop/wallets/walletconnect.md
  docs/operate/archive-node-nodereal.md
  sidebars.js
Labels: type:enhancement, ext:infra, ext:oracle, ext:data, ext:wallet, ext:tool

#1616 Add OnFinality to the list of RPC providers
  docs/operate/network.md
Labels: ext:infra, type:footprint

#1618 update(supernets): improve regenesis guide
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/install.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/quick-start.md
  docs/supernets/operate/system.md
Labels: pos:supernets, type:footprint, type:refactor

#1619 Update pips.md
  docs/maintain/govern/pips/pips.md
Labels: pos:gov, type:footprint
