Repository maticnetwork/matic-docs, pull requests merged in 2023-05, with the labels that each got.

#1621 feat(mainnet): new faqs as part of bor v0.3.7 & heimdall v0.3.3
  docs/faq/validator-faq.md
Labels: type:enhancement, area:operate, pos:mainnet, area:validate

#1620 Fixing outdated documentation
  docs/maintain/validate/run-validator-ansible.md
Labels: type:enhancement, area:operate, pos:mainnet, area:validate

#1623 docs: fix validator_set.go fix url
  docs/pos/bor/consensus.md
Labels: pos:mainnet, type:footprint

#1630 chore(deps): bump docusaurus from 2.3.1 to 2.4.0
  package.json
  yarn.lock
Labels: dependencies

#1632 incremental snapshot support
  docs/operate/snapshot-instructions-heimdall-bor.md
Labels: type:enhancement, pos:mainnet

#1628 update(supernets): general updates to introductory material
  docs/supernets/get-started/what-are-supernets.md
  docs/supernets/get-started/why-supernets.md
  docs/supernets/operate/quick-start.md
Labels: type:enhancement, pos:supernets

#1626 feat(supernets): new local deployment process for v0.9
  docs/supernets/design/runtime/allowlist.md
  docs/supernets/operate/local-supernet.md
  sidebars.js
Labels: type:enhancement, pos:supernets, type:refactor

#1627 feat(supernets): standards and cross-chain transactions based on v0.9
  docs/supernets/design/assets/erc/erc20.md
  docs/supernets/design/bridge/assets/erc/erc1155.md
  docs/supernets/design/bridge/assets/erc/erc20.md
  docs/supernets/design/bridge/assets/erc/erc721.md
  docs/supernets/design/bridge/checkpoint.md
  docs/supernets/design/bridge/ercchildpredicate.md
  docs/supernets/design/bridge/ercpredicate.md
  docs/supernets/design/bridge/overview.md
  docs/supernets/design/bridge/statesync.md
  docs/supernets/design/consensus/polybft/ibft.md
  docs/supernets/design/consensus/polybft/overview.md
  docs/supernets/design/consensus/polybft/protocol.md
  docs/supernets/design/consensus/validator/allowlisting.md
  docs/supernets/operate/cross-chain.md
  sidebars.js
Labels: type:enhancement, need:review, need:sme, type:new, pos:supernets, type:refactor

#1633 update(supernets): changelog v0.9
  docs/supernets/changelog.md
Labels: type:enhancement, pos:supernets

#1634 update(supernet): general improvements + updates for v0.9
  docs/supernets/design/consensus/proof-of-stake.md
  docs/supernets/design/consensus/validator/allowlisting.md
  docs/supernets/faq.md
  sidebars.js
Labels: type:enhancement, pos:supernets

#1629 feat(supernets): init unstake guide
  docs/supernets/operate/unstake.md
  sidebars.js
Labels: type:new, pos:supernets

#1635 update(supernets): follow-up improvements post v0.9 doc release
  docs/supernets/design/blockchain.md
  docs/supernets/design/libp2p.md
  docs/supernets/design/mempool.md
  docs/supernets/design/overview.md
  docs/supernets/design/txpool.md
  docs/supernets/design/txrelayer.md
  docs/supernets/modules/access-control.md
  docs/supernets/modules/consensus.md
  docs/supernets/modules/delegation.md
  docs/supernets/modules/storage.md
  docs/supernets/modules/withdrawal.md
  docs/supernets/operate/cross-chain.md
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/install.md
  docs/supernets/operate/performance.md
  docs/supernets/operate/system.md
  docs/supernets/operate/unstake.md
  sidebars.js
Labels: type:enhancement, pos:supernets

#1636 update(supernets): follow-up-2 improvements post v0.9 doc release
  docs/supernets/faq.md
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/quick-start.md
  docs/supernets/operate/unstake.md
  docusaurus.config.js
Labels: type:enhancement, pos:supernets

#1637 update(supernets): follow-up-3 improvements post v0.9 doc release
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/quick-start.md
Labels: type:enhancement, pos:supernets

#1639 update(supernets): follow-up-4 improvements post v0.9 doc release
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/local-supernet.md
  src/css/custom.css
Labels: pos:supernets, type:footprint

#1640 update(supernets): follow-up-5 improvements post v0.9 doc release
  docs/supernets/design/blockchain.md
  docs/supernets/design/bridge/checkpoint.md
  docs/supernets/design/consensus/polybft/ibft.md
  docs/supernets/design/consensus/polybft/overview.md
  docs/supernets/design/grpc.md
  docs/supernets/design/jsonrpc.md
  docs/supernets/design/libp2p.md
  docs/supernets/design/mempool.md
  docs/supernets/design/overview.md
  docs/supernets/design/runtime/overview.md
  docs/supernets/design/txpool.md
  docs/supernets/design/txrelayer.md
  docs/supernets/faq.md
  docs/supernets/operate/local-supernet.md
Labels: type:enhancement, pos:supernets

#1638 feat(PoS): add known issues for Node Setup docs
  docs/maintain/validate/kb/known-issues.md
  static/img/knowledge-base/block_number.png
Labels: need:review, need:sme, area:validate

#1641 update(supernets): follow-up-6 improvements post v0.9 doc release
  docs/supernets/faq.md
  docs/supernets/operate/install.md
  docs/supernets/operate/local-supernet.md
Labels: type:enhancement, pos:supernets

#1646 update(supernets): follow-up-7 improvements post v0.9 doc release
  docs/supernets/operate/local-supernet.md
Labels: type:enhancement, pos:supernets

#1647 update(supernets): improve prompt on rootchain deploy for demo instance
  docs/supernets/operate/local-supernet.md
Labels: pos:supernets, type:footprint

#1649 update(supernets): private key content updates
  docs/supernets/operate/cross-chain.md
  docs/supernets/operate/local-supernet.md
Labels: pos:supernets, type:footprint

#1648 fix(supernets): performance benchmarks v0.7
  docs/supernets/operate/performance.md
Labels: type:enhancement, pos:supernets

#1650 enh(supernets): Add alert about Solidity v0.8.20 and other deployment guide improvements
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/system.md
Labels: pos:supernets, type:footprint

#1653 update(supernets): master faq page and general improvements
  docs/supernets/faq.md
  docs/supernets/features.js
  docs/supernets/get-started/what-are-supernets.md
  docs/supernets/operate/cross-chain.md
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/install.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/quick-start.md
  docs/supernets/operate/system.md
  docs/supernets/operate/unstake.md
Labels: type:enhancement, pos:supernets

#1651 added thirdweb docs and references
  docs/develop/developer-resources.md
  docs/develop/getting-started.md
  docs/develop/thirdweb.md
  docs/develop/web3-development.md
  docs/home/blockchain-basics/basics-solidity.md
  docs/home/new-to-polygon.md
  docs/integrate/quickstart.md
  i18n/ar/docusaurus-plugin-content-docs/current/develop/getting-started.md
  i18n/ar/docusaurus-plugin-content-docs/current/home/new-to-matic.md
  i18n/es/docusaurus-plugin-content-docs/current/home/new-to-matic.md
  sidebars.js
  static/img/thirdweb/tw-explore.png
Labels: type:enhancement, need:review, type:new, ext:infra, ext:tool

#1656 contribute: update bug-bounty-program.md
  docs/contribute/bug-bounty-program.md
Labels: type:enhancement

#1654 Update overview.md
  docs/supernets/design/bridge/overview.md
Labels: type:defect, pos:supernets

#1660 Update full-node-deployment.md
  docs/operate/full-node-deployment.md
Labels: pos:mainnet, type:footprint

#1659 snapshot script refinements and examples
  docs/operate/snapshot-instructions-heimdall-bor.md
Labels: type:enhancement, do not merge, pos:mainnet

#1669 add: technical prerequisites for validator setup
  docs/maintain/validate/technical-prerequisites.md
  sidebars.js
Labels: need:sme, area:validate

#1668 Add Allnodes
  docs/operate/network.md
Labels: ext:infra, type:footprint

#1643 add Kriptonio infra provider
  docs/operate/network.md
  docusaurus.config.js
  i18n/bn/docusaurus-plugin-content-docs/current/develop/network-details/network.md
  i18n/bn/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/de/docusaurus-plugin-content-docs/current/develop/network-details/network.md
  i18n/de/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/es/docusaurus-plugin-content-docs/current/develop/network-details/network.md
  i18n/es/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/fr/docusaurus-plugin-content-docs/current/develop/network-details/network.md
  i18n/fr/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/hi/docusaurus-plugin-content-docs/current/develop/network-details/network.md
  i18n/hi/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/id/docusaurus-plugin-content-docs/current/develop/network-details/network.md
  i18n/id/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/it/docusaurus-plugin-content-docs/current/develop/network-details/network.md
  i18n/it/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/ja/docusaurus-plugin-content-docs/current/develop/network-details/network.md
  i18n/ja/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/ko/docusaurus-plugin-content-docs/current/develop/network-details/network.md
  i18n/ko/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/pt/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/ru/docusaurus-plugin-content-docs/current/develop/network-details/network.md
  i18n/ru/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/th/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/tl/docusaurus-plugin-content-docs/current/operate/network.md
  i18n/tr/docusaurus-plugin-content-docs/current/operate/network.md
Labels: ext:infra, type:footprint

#1673 update: remove MaticJS client docs for zkEVM
  sidebars.js
Labels: area:build

#1663 chore(wiki): remove locales in build action
  .github/workflows/build.yml
  .github/workflows/master_deployment.yml
Labels: type:enhancement, type:chore

#1667 update: docusaurus.config.js
  docusaurus.config.js
Labels: type:chore, type:footprint

#1679 enh(supernets): modularize deployment guide
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/deploy/access-control/allowlist.md
  docs/supernets/operate/deploy/genesis.md
  docs/supernets/operate/deploy/index.md
  docs/supernets/operate/deploy/local-supernet.md
  docs/supernets/operate/deploy/rootchain-config.md
  docs/supernets/operate/deploy/staking/stake.md
  docs/supernets/operate/deploy/staking/unstake.md
  docs/supernets/operate/deploy/start-chain.md
  sidebars.js
Labels: type:enhancement, pos:supernets

#1680 Fix broken link.
  docs/develop/getting-started.md
Labels: type:footprint
