Repository maticnetwork/matic-docs, pull requests merged in 2023-01, with the labels that each got.

#1296 Updates Running a Node with Ansible article
  docs/develop/network-details/full-node-deployment.md
Labels: enhancement, T1: Develop

#1293 feat(zkEVM): Add Storage SM documentation
  docs/zkEVM/zkProver/basic-smt-ops.md
  docs/zkEVM/zkProver/construct-key-path.md
  docs/zkEVM/zkProver/detailed-smt.md
  docs/zkEVM/zkProver/executor-pil.md
  docs/zkEVM/zkProver/figures/fig1-gen-state-mchn.png
  docs/zkEVM/zkProver/figures/fig1-simpl-arch.png
  docs/zkEVM/zkProver/figures/fig10-key-not-set-eg.png
  docs/zkEVM/zkProver/figures/fig11-val-update-eg.png
  docs/zkEVM/zkProver/figures/fig12-crt-zero-node.png
  docs/zkEVM/zkProver/figures/fig13-a-crt-nzleaf-ext.png
  docs/zkEVM/zkProver/figures/fig13-b-crt-nzleaf-xt.png
  docs/zkEVM/zkProver/figures/fig14-a-dlt-nz-sib.png
  docs/zkEVM/zkProver/figures/fig14-b-dlt-z-sib.png
  docs/zkEVM/zkProver/figures/fig15-path-frm-key.png
  docs/zkEVM/zkProver/figures/fig16-posdn-eg.png
  docs/zkEVM/zkProver/figures/fig2-mkl-tree-gen.png
  docs/zkEVM/zkProver/figures/fig2-simple-poe.png
  docs/zkEVM/zkProver/figures/fig4-sngl-kv-eg.png
  docs/zkEVM/zkProver/figures/fig4-zkProv-arch.png
  docs/zkEVM/zkProver/figures/fig5-a-mpt-kv-eg.png
  docs/zkEVM/zkProver/figures/fig5-b-mpt-kv-eg.png
  docs/zkEVM/zkProver/figures/fig5-c-mpt-kv-eg.png
  docs/zkEVM/zkProver/figures/fig5-col-sm-zkprov.png
  docs/zkEVM/zkProver/figures/fig6-exit-tr-strct.png
  docs/zkEVM/zkProver/figures/fig6-mpt-gen-eg.png
  docs/zkEVM/zkProver/figures/fig7-fake-leaf-eg.png
  docs/zkEVM/zkProver/figures/fig8-non-binding-eg.png
  docs/zkEVM/zkProver/figures/fig9-zk-mkl-prf.png
  docs/zkEVM/zkProver/intro-storage-sm.md
  docs/zkEVM/zkProver/simple-smt.md
  docs/zkEVM/zkProver/sparse-merkle-tree.md
  docs/zkEVM/zkProver/storage-sm-design.md
  docs/zkEVM/zkProver/zkprover-design.md
  sidebars.js
Labels: P1: Important, PR: Please Review, new page, T10: zkEVM

#1301 Updates Node Setup instructions using Docker
  docs/develop/network-details/full-node-docker.md
  static/img/full-node-docker/heimdall-version.png
Labels: PR: Please Review

#1302 Updates Bor version
  docs/develop/network-details/full-node-binaries.md
  docs/develop/network-details/full-node-deployment.md
  docs/develop/network-details/full-node-docker.md
  docs/integrate/install-gcp.md
  docs/maintain/validate/run-validator-ansible.md
  docs/maintain/validate/run-validator-binaries.md
Labels: P0: Urgent, PR: Please Review

#1304 Update Polygon gas station docs
  docs/develop/tools/polygon-gas-station.md
  docs/maintain/validate/faq/validator-faq.md
Labels: enhancement, T1: Develop, PR: ready to ship, T12: Validator

#1295 Add docs for Plaid Wallet Onboard
  docs/develop/wallets/plaid-wallet-onboard.md
  sidebars.js
  static/img/plaid-wallet-onboard/splash.png
  static/img/plaid-wallet-onboard/switch.png
Labels: P3: Nice To Have, PR: WIP, T1: Develop, new page

#1305 fx portal doc updated
  docs/develop/ethereum-polygon/getting-started.md
  docs/develop/ethereum-polygon/mintable-assets.md
  docs/develop/l1-l2-communication/fx-portal.md
  docs/develop/l1-l2-communication/state-transfer.md
  sidebars.js
Labels: enhancement, T1: Develop

#1307 Update information architecture for Polygon zkEVM
  docs/zkEVM/architecture.md
  docs/zkEVM/develop.md
  docs/zkEVM/setup-local-node.md
  docs/zkEVM/setup-production-node.md
  docs/zkEVM/zknode/overview.md
  sidebars.js
Labels: enhancement, PR: Please Review, T10: zkEVM

#1274 feat(Edge): Update loadbot warning
  docs/edge/performance-reports/overview.md
  docs/edge/performance-reports/test-history/test-2022-01-21.md
  docs/edge/performance-reports/test-history/test-2022-03-02.md
  docs/edge/performance-reports/test-history/test-2022-03-23.md
  docs/edge/performance-reports/test-history/test-2022-07-04.md
Labels: T6: Edge

#1313 Update sidebars.js
  sidebars.js
Labels: enhancement

#1308 Update Token Mapper guide
  docs/develop/ethereum-polygon/submit-mapping-request.md
  static/img/token-mapping/mapping-tool.png
Labels: enhancement, P1: Important, PR: Please Review, T1: Develop

#1315 Minor updates in the Develop section
  docs/develop/ethereum-polygon/submit-mapping-request.md
  sidebars.js
Labels: P1: Important, PR: Please Review, T1: Develop

#1319 Update delegate screenshots
  docs/maintain/validate/validator-performance.md
  static/img/staking/home.png
  static/img/validator-performance/health-status.png
  static/img/validator-performance/notice.png
  static/img/validator-performance/performance-benchmark.png
  static/img/validator-performance/public-notices.png
Labels: enhancement, PR: Please Review

#1321 update: remove v1 from governance docs
  docs/maintain/govern/governance-posv1.md
Labels: enhancement, P0: Urgent

#1286 feat(supernets): add initial supernet docs
  docs/edge/consensus/polybft.md
  docs/supernets/api/json-rpc-debug.md
  docs/supernets/api/json-rpc-eth.md
  docs/supernets/api/json-rpc-net.md
  docs/supernets/api/json-rpc-txpool.md
  docs/supernets/api/json-rpc-web3.md
  docs/supernets/architecture.md
  docs/supernets/bridge/checkpoint.md
  docs/supernets/bridge/overview.md
  docs/supernets/bridge/statesync.md
  docs/supernets/contracts/checkpoint-manager.md
  docs/supernets/contracts/reward-pool.md
  docs/supernets/contracts/state-receiver.md
  docs/supernets/contracts/state-sender.md
  docs/supernets/contracts/validator-queue.md
  docs/supernets/contracts/validator-set.md
  docs/supernets/contracts/withdrawal-queue.md
  docs/supernets/modules/consensus.md
  docs/supernets/overview.md
  docs/supernets/polybft.md
  sidebars.js
  src/data/features.js
  static/img/supernets/architecture.png
  static/img/supernets/commitment.png
  static/img/supernets/exit-withdrawal.png
  static/img/supernets/exit.png
  static/img/supernets/withdraw.png
Labels: P0: Urgent, new page, T14: Supernets, epic

#1323 Update how-to guides of zkEVM
  docs/zkEVM/setup-local-node.md
  docs/zkEVM/setup-production-node.md
Labels: enhancement, P0: Urgent, PR: Please Review, T10: zkEVM

#1316 [Polygon Edge] PoS switch warning while using ECDSA
  docs/edge/consensus/migration-to-pos.md
Labels: T6: Edge

#1325 Adds Port Configuration for Validators
  docs/faq/staking-faq.md
  docs/faq/validator-faq.md
  docs/maintain/validate/kb/additional-info/port.config.md
  docs/maintain/validate/kb/how-to.md
  docs/maintain/validate/kb/known-issues.md
  docusaurus.config.js
  sidebars.js
  static/img/staking_faq/claiming-stake.mov
Labels: PR: Please Review, PR: DNM

#1329 Minor changes on FAQ
  docs/faq/staking-faq.md
  docs/faq/wallet-bridge-faq.md
Labels: enhancement

#1331 Update StakingManager docs
  docs/pos/contracts/delegation.md
  docs/pos/contracts/stakingmanager.md
Labels: enhancement, P1: Important, PR: Please Review, T4: PoS

#1332 Updates Erigon Heimdall URLs
  docs/develop/network-details/erigon/client-setup.md
Labels: P0: Urgent

#1334 Improves Screenshots
  docs/develop/tools/polygon-faucet.md
  docs/maintain/validate/validator-performance.md
  static/img/staking/delegate.png
  static/img/staking/delegate2.png
  static/img/staking/delegate3.png
  static/img/staking/move.png
  static/img/staking/move2.png
  static/img/staking/myAccount.png
  static/img/staking/unbond.png
  static/img/validator-performance/health-status.png
  static/img/validator-performance/public-notices.png
Labels: enhancement, PR: Please Review

#1335 fix(docs): discord server link
  docs/polygonid/overview.md
Labels: PR: ready to ship

#1326 Adding QuickNode faucet to docs
  docs/develop/tools/polygon-faucet.md
  docs/develop/tools/quicknode-faucet.md
  sidebars.js
  static/img/tools/quicknode-faucet1.png
  static/img/tools/quicknode-faucet2.png
  static/img/tools/quicknode-faucet3.png
  static/img/tools/quicknode-faucet4.png
Labels: P3: Nice To Have, T1: Develop, new page, PR: ready to ship

#1341 feat(develop): Update MATIC Testnet faucet doc
  docs/develop/tools/alchemy-faucet.md
  docs/develop/tools/matic-faucet.md
  docs/develop/tools/polygon-faucet.md
  docs/develop/tools/quicknode-faucet.md
  sidebars.js
Labels: enhancement, PR: Please Review, T1: Develop

#1344 Update dApps dropdown
  docusaurus.config.js
Labels: PR: ready to ship

#1348 Updated Multisgs
  docs/faq/commit-chain-multisigs.md
Labels: PR: ready to ship

#1349 Update the official link for BlockPI Network
  docs/develop/network-details/network.md
Labels: PR: ready to ship
