Repository maticnetwork/matic-docs, pull requests merged in 2023-03, with the labels that each got.

#1418 Fix QuickNode LP link in docusaurus.config.js
  docusaurus.config.js
Labels: bug, T1: Develop

#1409 feat(zkEVM): update architecture doc
  docs/zkEVM/architecture.md
  docs/zkEVM/figures/fig2-simple-poe.png
  docs/zkEVM/protocol/consensus.md
  docs/zkEVM/zkevm-gas-station.md
  sidebars.js
Labels: enhancement, PR: Please Review, T10: zkEVM

#1419 feat(zkEVM): add bridge documentation to zkEVM
  docs/zkEVM/protocol/bridge-smart-contract.md
  docs/zkEVM/protocol/exit-tree.md
  docs/zkEVM/protocol/figures/01pzb-polygon-zkevm-schema.png
  docs/zkEVM/protocol/figures/02pzb-global-exit-tree.png
  docs/zkEVM/protocol/figures/03pzb-exit-leaf-add-L1-L2.png
  docs/zkEVM/protocol/figures/04pzb-overall-interact-bridge-scs.png
  docs/zkEVM/protocol/figures/05pzb-l2-related-scs.png
  docs/zkEVM/protocol/figures/06pzb-complete-asset-flow-l1-l2.png
  docs/zkEVM/protocol/flow-of-assets.md
  docs/zkEVM/protocol/zkevm-bridge.md
  sidebars.js
Labels: PR: Please Review, new page, T10: zkEVM

#1417 Added Further Reading
  docs/home/architecture/matic-architecture.md
Labels: enhancement, PR: Please Review, T0: Learning

#1421 feat(zkEVM): deprecate lx-ly docs
  docs/zkEVM/architecture.md
  docs/zkEVM/lx-ly-bridge.md
  sidebars.js
Labels: enhancement, PR: Please Review, T10: zkEVM, PR: ready to ship

#1429 feat(zKEVM): update zkEVM learning content
  docs/home/polygon-basics/zkEVM-basics.md
Labels: enhancement, PR: Please Review, T0: Learning

#1428 feat(zKEVM): patch architecture.md
  docs/zkEVM/architecture.md
Labels: T10: zkEVM, typo

#1427 feat(develop): update token mapper
  docs/develop/ethereum-polygon/submit-mapping-request.md
  src/css/custom.css
  src/pages/index.js
Labels: enhancement, T1: Develop

#1396 added information on using account abstraction and EIP-4337 on Polygon
  docs/develop/meta-transactions/account-abstraction.md
  docs/develop/meta-transactions/eip4337.md
  docs/develop/meta-transactions/getting-started.md
  sidebars.js
Labels: enhancement, T1: Develop, new page, PR: ready to ship

#1436 lilt-translations
  docusaurus.config.js
  i18n/tr/docusaurus-plugin-content-docs/current/avail/architecture/avail-consensus.md
  i18n/tr/docusaurus-plugin-content-docs/current/avail/architecture/avail-system-overview.md
  i18n/tr/docusaurus-plugin-content-docs/current/avail/faq.md
  i18n/tr/docusaurus-plugin-content-docs/current/avail/how-tos/avail-quick-start.md
  i18n/tr/docusaurus-plugin-content-docs/current/avail/introduction/what-is-avail.md
  i18n/tr/docusaurus-plugin-content-docs/current/avail/node/avail-node-management.md
  sidebars.js
Labels: translations

#1442 update(bor): StateReceiver reference
  docs/pos/bor/core_concepts.md
Labels: enhancement, PR: Please Review, T4: PoS

#1441 [DVT-565] v0.3+ fullnode setup instructions upgrade
  docs/operate/full-node-binaries.md
  docs/operate/snapshot-instructions-heimdall-bor.md
Labels: enhancement, PR: Please Review, PR: DNM, T2: Operate

#1445 feat(zkEVM): add differences between EVM and zKEVM
  docs/zkEVM/protocol/evm-differences.md
  sidebars.js
Labels: new page, T10: zkEVM

#1455 feat(validate): update validator docs
  docs/faq/validator-faq.md
  docs/maintain/validate/run-validator.md
  docs/operate/full-node.md
Labels: enhancement, PR: Please Review, T12: Validator

#1454 feat(miden): update miden docs for v0.4 release
  docs/miden/design/stack/op_constraints.md
  docs/miden/intro/main.md
  docs/miden/intro/overview.md
  docs/miden/intro/usage.md
  docs/miden/user_docs/stdlib/crypto/fri.md
  docs/miden/user_docs/stdlib/crypto/hashes.md
  docs/miden/user_docs/stdlib/main.md
  docs/miden/user_docs/stdlib/math/u64.md
  docs/miden/user_docs/stdlib/mem.md
  docs/miden/user_docs/stdlib/sys.md
  sidebars.js
Labels: enhancement, PR: Please Review, new page, T13: Miden

#1456 Change the mistake in the naming of the company
  docs/operate/network.md
Labels: PR: ready to ship

#1462 feat(wiki): add tabs on the landing page for protocol docs
  docusaurus.config.js
  src/css/custom.css
  src/pages/index.js
Labels: enhancement, P1: Important, PR: Please Review, PR: DNM

#1465 wiki(feat): announcement bar
  docusaurus.config.js
  src/css/custom.css
  src/data/features.js
  src/pages/index.js
Labels: enhancement, PR: ready to ship

#1458 feat(zkEVM): adds PLookup doc
  docs/zkEVM/zkProver/figures/plook-ops-mainSM.png
  docs/zkEVM/zkProver/figures/plookup-generic-sm-pil.png
  docs/zkEVM/zkProver/plookup.md
  sidebars.js
Labels: PR: Please Review, new page, T10: zkEVM

#1464 feat(validator): update firewall port details
  docs/maintain/validate/run-validator-ansible.md
  docs/maintain/validate/run-validator-binaries.md
  docs/maintain/validate/run-validator.md
  docs/maintain/validate/validator-node-system-requirements.md
Labels: enhancement, P1: Important, PR: Please Review, T12: Validator

#1469 feat/update(wiki): additional sections and footer updates
  docusaurus.config.js
  package.json
  src/css/custom.css
  src/data/features.js
  src/pages/index.js
  src/theme/Footer/index.js
  yarn.lock
Labels: enhancement, P1: Important

#1474 feat(supernets): add intro docs and prep docs for batch
  docs/supernets/architecture.md
  docs/supernets/bridge/checkpoint.md
  docs/supernets/bridge/overview.md
  docs/supernets/bridge/statesync.md
  docs/supernets/get-started/what-are-supernets.md
  docs/supernets/get-started/why-supernets.md
  docs/supernets/overview.md
  docusaurus.config.js
  sidebars.js
  static/img/supernets/architecture.png
  static/img/supernets/commitment.png
  static/img/supernets/consensus.excalidraw.png
  static/img/supernets/contracts-bridge.excalidraw.png
  static/img/supernets/contracts.excalidraw.png
  static/img/supernets/exit-withdrawal.png
  static/img/supernets/exit.png
  static/img/supernets/l1-l2-l3.excalidraw.png
  static/img/supernets/polybft-node.excalidraw.png
  static/img/supernets/polybft.excalidraw.png
  static/img/supernets/supernet.svg
  static/img/supernets/supernets-checkpoint-exit.excalidraw.png
  static/img/supernets/supernets-checkpoint.excalidraw.png
  static/img/supernets/supernets-consensus.excalidraw.png
  static/img/supernets/supernets-interconnected.excalidraw.png
  static/img/supernets/supernets-logo.png
  static/img/supernets/supernets-overview.excalidraw.png
  static/img/supernets/supernets-setup-non-bridge.excalidraw.png
  static/img/supernets/supernets-setup.excalidraw.png
  static/img/supernets/supernets-together-lp.excalidraw.png
  static/img/supernets/supernets-together.excalidraw.png
  static/img/supernets/withdraw.png
Labels: T14: Supernets

#1476 feat(supenets): add new design and component docs
  docs/supernets/design/assets/erc/erc20.md
  docs/supernets/design/blockchain.md
  docs/supernets/design/bridge/checkpoint.md
  docs/supernets/design/bridge/ercchildpredicate.md
  docs/supernets/design/bridge/ercpredicate.md
  docs/supernets/design/bridge/overview.md
  docs/supernets/design/bridge/statesync.md
  docs/supernets/design/consensus/polybft/ibft.md
  docs/supernets/design/consensus/polybft/overview.md
  docs/supernets/design/consensus/polybft/protocol.md
  docs/supernets/design/consensus/proof-of-stake.md
  docs/supernets/design/consensus/validator/allowlisting.md
  docs/supernets/design/grpc.md
  docs/supernets/design/jsonrpc.md
  docs/supernets/design/libp2p.md
  docs/supernets/design/mempool.md
  docs/supernets/design/overview.md
  docs/supernets/design/runtime/allowlist.md
  docs/supernets/design/runtime/overview.md
  docs/supernets/design/txpool.md
  docs/supernets/design/txrelayer.md
  docs/supernets/get-started/why-supernets.md
  docs/supernets/polybft.md
  sidebars.js
  static/img/supernets/contracts-bridge.excalidraw.png
  static/img/supernets/contracts.excalidraw.png
  static/img/supernets/polybft.excalidraw.png
  static/img/supernets/supernets-overview.excalidraw.png
  static/img/supernets/val-select.excalidraw.png
Labels: T14: Supernets

#1477 update(supernets): tweaks to design content
  docs/supernets/design/assets/erc/erc20.md
  docs/supernets/design/blockchain.md
  docs/supernets/design/bridge/checkpoint.md
  docs/supernets/design/bridge/ercchildpredicate.md
  docs/supernets/design/bridge/ercpredicate.md
  docs/supernets/design/bridge/overview.md
  docs/supernets/design/bridge/statesync.md
  docs/supernets/design/consensus/polybft/ibft.md
  docs/supernets/design/consensus/polybft/protocol.md
  docs/supernets/design/consensus/validator/allowlisting.md
  docs/supernets/design/grpc.md
  docs/supernets/design/jsonrpc.md
  docs/supernets/design/libp2p.md
  docs/supernets/design/overview.md
  docs/supernets/design/runtime/allowlist.md
  docs/supernets/design/txpool.md
  docs/supernets/design/txrelayer.md
Labels: T14: Supernets

#1478 chore(supernets): hide prev. documented contracts
  sidebars.js
Labels: T14: Supernets

#1479 fix(supernets): layer-bridge diagram
  static/img/supernets/l1-l2-l3.excalidraw.png
Labels: T14: Supernets

#1482 feat(supernets): init deployment docs
  docs/supernets/operate/allowlist.md
  docs/supernets/operate/aws.md
  docs/supernets/operate/deploy-bridge.md
  docs/supernets/operate/faqs.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/install.md
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/performance.md
  docs/supernets/operate/setup-dev-env.md
  docs/supernets/operate/stake-mainnet.md
  docs/supernets/operate/system.md
  sidebars.js
Labels: T14: Supernets

#1483 update(supernets): replace FAQs + general tweaks
  docs/supernets/faq.md
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
  sidebars.js
  static/img/supernets/polybft-node.excalidraw.png
  static/img/supernets/supernets-setup-non-bridge.excalidraw.png
  static/img/supernets/supernets-setup.excalidraw.png
Labels: T14: Supernets

#1484 feat(supernets): init module docs
  docs/supernets/modules/access-control.md
  docs/supernets/modules/consensus.md
  docs/supernets/modules/delegation.md
  docs/supernets/modules/storage.md
  docs/supernets/modules/withdrawal.md
  sidebars.js
Labels: T14: Supernets

#1485 fix(supernets): setup imgs in dark mode
  docs/supernets/operate/local-blockchain.md
  static/img/supernets/supernets-setup-non-bridge.excalidraw.png
  static/img/supernets/supernets-setup-non.excalidraw.png
  static/img/supernets/supernets-setup.excalidraw.png
Labels: T14: Supernets

#1486 fix(supernets): setup imgs
  static/img/supernets/polybft-node.excalidraw.png
  static/img/supernets/supernets-setup.excalidraw.png
Labels: T14: Supernets

#1487 update(navbar): update to reflect latest supernet additions
  docusaurus.config.js
  i18n/en/docusaurus-theme-classic/navbar.json
Labels: enhancement, T14: Supernets

#1489 update(id): improve current sidebar + fix codeblock line highlighting
  docs/polygonid/contracts/overview.md
  docs/polygonid/verifier/on-chain-verification/overview.md
  docs/polygonid/verifier/verification-library/jwz.md
  docs/polygonid/verifier/verification-library/verifier-set-up.md
  docs/polygonid/wallet/wallet-overview.md
  sidebars.js
  src/css/custom.css
Labels: PR: Please Review, T11: Polygon ID

#1492 fix(wiki): banner link and styling
  docusaurus.config.js
  src/css/custom.css
Labels: enhancement, T14: Supernets

#1491 update(pos): improve asset & bridge sidebar + content tweaks
  docs/develop/ethereum-polygon/mintable-assets.md
  docs/develop/ethereum-polygon/submit-mapping-request.md
  docs/develop/l1-l2-communication/fx-portal.md
  docs/develop/nft-tutorial.md
  docs/operate/gas-token.mdx
  docs/operate/genesis-contracts.md
  docs/operate/mapped-tokens.md
  docs/operate/network.md
  sidebars.js
Labels: T4: PoS

#1496 feat(supernets): init 0.8.0
  docs/supernets/faq.md
  docs/supernets/operate/allowlist.md
  docs/supernets/operate/aws.md
  docs/supernets/operate/deploy-bridge.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/install.md
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/stake-mainnet.md
  docusaurus.config.js
  sidebars.js
Labels: T14: Supernets

#1497 feat(supernets): update deployment guides with modules + add init regenesis doc
  docs/supernets/modules/access-control.md
  docs/supernets/operate/allowlist.md
  docs/supernets/operate/deploy-bridge.md
  docs/supernets/operate/ibft-to-polybft.md
  sidebars.js
Labels: T14: Supernets

#1498 update(supernets): deployment section updates
  docs/supernets/design/blockchain.md
  docs/supernets/operate/deploy-bridge.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/system.md
  sidebars.js
Labels: T14: Supernets

#1472 Update Full node Mumbai seeds
  docs/operate/full-node-binaries.md
  docs/operate/full-node-deployment.md
Labels: PR: Needs SME Review, PR: DNM

#1500 feat(wiki): adds sidebar title for protocols and hubs
  docs/zkEVM/introduction.md
  sidebars.js
  src/css/custom.css
Labels: enhancement, P3: Nice To Have, PR: Please Review

#1504 update(supernets): init perf benchmarks + RPC doc edits
  docs/supernets/api/json-rpc-debug.md
  docs/supernets/api/json-rpc-eth.md
  docs/supernets/api/json-rpc-net.md
  docs/supernets/api/json-rpc-txpool.md
  docs/supernets/api/json-rpc-web3.md
  docs/supernets/faq.md
  docs/supernets/operate/performance.md
Labels: T14: Supernets

#1505 feat(supernets): index page
  docs/supernets/index.md
  sidebars.js
Labels: enhancement, T14: Supernets

#1506 fix(supernets): links to supernet docs and perf numbers
  docs/supernets/operate/performance.md
  docusaurus.config.js
  src/pages/index.js
Labels: T14: Supernets

#1507 feat/update(supernets): supernets home page + edits
  docs/supernets/features.js
  docs/supernets/index.md
  docs/supernets/index.mdx
  docs/supernets/operate/performance.md
  docusaurus.config.js
  sidebars.js
  src/css/custom.css
Labels: T14: Supernets

#1508 update(supernets): add descriptions + doc edits
  docs/supernets/design/assets/erc/erc20.md
  docs/supernets/design/blockchain.md
  docs/supernets/design/bridge/checkpoint.md
  docs/supernets/design/bridge/ercchildpredicate.md
  docs/supernets/design/bridge/ercpredicate.md
  docs/supernets/design/bridge/overview.md
  docs/supernets/design/bridge/statesync.md
  docs/supernets/design/consensus/polybft/ibft.md
  docs/supernets/design/consensus/polybft/overview.md
  docs/supernets/design/consensus/polybft/protocol.md
  docs/supernets/design/consensus/proof-of-stake.md
  docs/supernets/design/consensus/validator/allowlisting.md
  docs/supernets/design/grpc.md
  docs/supernets/design/jsonrpc.md
  docs/supernets/design/libp2p.md
  docs/supernets/design/mempool.md
  docs/supernets/design/overview.md
  docs/supernets/design/runtime/allowlist.md
  docs/supernets/design/runtime/overview.md
  docs/supernets/design/txpool.md
  docs/supernets/design/txrelayer.md
  docs/supernets/get-started/why-supernets.md
  docs/supernets/modules/access-control.md
  docs/supernets/modules/consensus.md
  docs/supernets/modules/delegation.md
  docs/supernets/modules/storage.md
  docs/supernets/modules/withdrawal.md
  docs/supernets/operate/deploy-bridge.md
  docs/supernets/operate/faqs.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/install.md
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/performance.md
  docs/supernets/operate/system.md
  src/css/custom.css
Labels: T14: Supernets

#1509 update(supernets): general improvements + update announcement bar
  docs/supernets/design/bridge/overview.md
  docs/supernets/features.js
  docs/supernets/operate/deploy-bridge.md
  docusaurus.config.js
  sidebars.js
Labels: T14: Supernets

#1511 changed libp2p port
  docs/supernets/operate/local-blockchain.md
Labels: T14: Supernets, typo

#1513 fix(supernets): link
  docs/supernets/features.js
Labels: T14: Supernets

#1517 update(supernets): improvements to polybft content and edits to overviews
  docs/supernets/design/consensus/proof-of-stake.md
  docs/supernets/design/consensus/validator/allowlisting.md
  docs/supernets/get-started/what-are-supernets.md
Labels: enhancement, T14: Supernets

#1501 feat(zkEVM): publish latest PIL docs and zkEVM FAQs
  docs/zkEVM/PIL/advanced-features.md
  docs/zkEVM/PIL/components.md
  docs/zkEVM/PIL/cyclic-nature.md
  docs/zkEVM/PIL/cyclical-nature.md
  docs/zkEVM/PIL/figures/11pil-2-progs-2-exec-traces-eg.png
  docs/zkEVM/PIL/figures/fig1-plnk-plnkish.png
  docs/zkEVM/PIL/figures/fig10-cycl-ntr-sms.png
  docs/zkEVM/PIL/figures/fig10cd-pil-config-byte-sm.png
  docs/zkEVM/PIL/figures/fig11-indc-cycl-ntr.png
  docs/zkEVM/PIL/figures/fig11-pil-glbl-byte-sm.png
  docs/zkEVM/PIL/figures/fig11-sm-eg-cmpt-trc.png
  docs/zkEVM/PIL/figures/fig12-pil-code-byte-sm.png
  docs/zkEVM/PIL/figures/fig12-pol-cnnct-sms.png
  docs/zkEVM/PIL/figures/fig12-sel-eg-cyclc-sm.png
  docs/zkEVM/PIL/figures/fig13-arth-sm-arch.png
  docs/zkEVM/PIL/figures/fig13-pil-eg-arth-sm.png
  docs/zkEVM/PIL/figures/fig13-pil-nmspc-prmtrs.png
  docs/zkEVM/PIL/figures/fig14-arth-sm-arch.png
  docs/zkEVM/PIL/figures/fig14-pil-nmspc-unique.png
  docs/zkEVM/PIL/figures/fig15-main-sm-arch.png
  docs/zkEVM/PIL/figures/fig15-pil-cnst-pols.png
  docs/zkEVM/PIL/figures/fig15-pil-eg-main-sm.png
  docs/zkEVM/PIL/figures/fig16-main-sm-bool-pols.png
  docs/zkEVM/PIL/figures/fig16-pil-a-cnst.png
  docs/zkEVM/PIL/figures/fig16-pil-b-cmmt.png
  docs/zkEVM/PIL/figures/fig16-pil-eg-addd-cnstrnt.png
  docs/zkEVM/PIL/figures/fig17-pil-vrfctn-reg-op.png
  docs/zkEVM/PIL/figures/fig17-pol-elmt-types.png
  docs/zkEVM/PIL/figures/fig18-main-cnnct-Arth-Main.png
  docs/zkEVM/PIL/figures/fig18-pil-eg-cnnct-main-arth.png
  docs/zkEVM/PIL/figures/fig18-pol-constrnts-PIL.png
  docs/zkEVM/PIL/figures/fig18-prm-mlt-dom-prtcl.png
  docs/zkEVM/PIL/figures/fig19-pil-eg-pub-inpts.png
  docs/zkEVM/PIL/figures/fig19-pol-constrnts-four.png
  docs/zkEVM/PIL/figures/fig2-alu-3states.png
  docs/zkEVM/PIL/figures/fig20-pil-eg-prm-chck.png
  docs/zkEVM/PIL/figures/fig21-pil-eg-cnnct-kwrds.png
  docs/zkEVM/PIL/figures/fig22-pil-eg-plnk-crct.png
  docs/zkEVM/PIL/figures/fig23-pil-eg-prm-argmnt.png
  docs/zkEVM/PIL/figures/fig3-crct-sm.png
  docs/zkEVM/PIL/figures/fig4-arth-crct-sm.png
  docs/zkEVM/PIL/figures/fig5-tbl-mltpl-sm.png
  docs/zkEVM/PIL/figures/fig6-dstnct-pols-mltpl-sm.png
  docs/zkEVM/PIL/figures/fig7-cd-exrpt-1.png
  docs/zkEVM/PIL/figures/fig8-cnstnt-pols-mltpl-sm.png
  docs/zkEVM/PIL/figures/fig8-tbl-stp-mltpl-sm.png
  docs/zkEVM/PIL/figures/fig8cd-optmsd-mltpl-sm.png
  docs/zkEVM/PIL/figures/fig9-cmpt-trc-byte-sm.png
  docs/zkEVM/PIL/hello-world-examples.md
  docs/zkEVM/PIL/introduction.md
  docs/zkEVM/PIL/modularity.md
  docs/zkEVM/PIL/pil-arguments.md
  docs/zkEVM/PIL/pil-compile.md
  docs/zkEVM/PIL/pil-config.md
  docs/zkEVM/PIL/simple-program.md
  docs/zkEVM/faq/zkevm-eth-faq.md
  docs/zkEVM/faq/zkevm-general-faq.md
  docs/zkEVM/faq/zkevm-protocol-faq.md
  docs/zkEVM/protocol/emergency-state.md
  sidebars.js
Labels: enhancement, PR: Please Review, PR: DNM, new page, T10: zkEVM

#1519 feat(zkEVM): fix FAQ links
  docs/zkEVM/faq/zkevm-eth-faq.md
  docs/zkEVM/faq/zkevm-protocol-faq.md
Labels: bug, T10: zkEVM, PR: ready to ship

#1444 feat(MaticJS): adds zkevm client
  docs/develop/ethereum-polygon/matic-js/pos/index.md
  docs/develop/ethereum-polygon/matic-js/zkevm/common-methods.md
  docs/develop/ethereum-polygon/matic-js/zkevm/erc20.md
  docs/develop/ethereum-polygon/matic-js/zkevm/initialize.md
  sidebars.js
Labels: PR: Needs SME Review, T1: Develop, new page, PR: ready to ship

#1522 feat(zkEVM): fix typo and content updates in FAQs
  docs/zkEVM/faq/zkevm-eth-faq.md
  docs/zkEVM/faq/zkevm-general-faq.md
  docs/zkEVM/faq/zkevm-protocol-faq.md
Labels: enhancement, PR: Please Review, T10: zkEVM, PR: ready to ship

#1524 update(supernets): bridging content updates + JSON-RPC commands
  archive/edge/main-edge/consensus/polybft.md
  docs/supernets/api/json-rpc-bridge.md
  docs/supernets/api/json-rpc-debug.md
  docs/supernets/api/json-rpc-eth.md
  docs/supernets/api/json-rpc-net.md
  docs/supernets/api/json-rpc-txpool.md
  docs/supernets/api/json-rpc-web3.md
  docs/supernets/design/bridge/checkpoint.md
  docs/supernets/design/bridge/overview.md
  docs/supernets/design/bridge/statesync.md
  docs/supernets/design/consensus/polybft/overview.md
  docs/supernets/design/overview.md
  docs/supernets/get-started/what-are-supernets.md
  sidebars.js
Labels: enhancement, new page, T14: Supernets

#1525 update(supernets): edits and notices
  docs/supernets/design/assets/erc/erc20.md
  docs/supernets/design/bridge/ercchildpredicate.md
  docs/supernets/design/bridge/ercpredicate.md
  docs/supernets/design/bridge/overview.md
  docs/supernets/design/consensus/polybft/ibft.md
  docs/supernets/modules/access-control.md
  docs/supernets/operate/deploy-bridge.md
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/system.md
Labels: enhancement, T14: Supernets

#1528 update(supernets): use childchain instead of network/sidechain
  docs/supernets/design/assets/erc/erc20.md
  docs/supernets/design/consensus/polybft/ibft.md
  docs/supernets/interfaces/childerc20.md
  docs/supernets/interfaces/native-erc20.md
  docs/supernets/interfaces/state-receiver.md
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
Labels: enhancement, T14: Supernets

#1529 Re-adding: [DVT-565] v0.3+ fullnode setup instructions upgrade
  docs/operate/snapshot-instructions-heimdall-bor.md
Labels: T2: Operate

#1532 feat(supernets): changelog
  docs/supernets/changelog.md
  sidebars.js
Labels: new page, T14: Supernets

#1523 feat(zkEVM): improve diagrams for zkProver and Architecture
  docs/zkEVM/figures/fig1-simpl-arch.png
  docs/zkEVM/figures/fig4-zkProv-arch.png
  docs/zkEVM/zkProver/figures/fib1-prover-design-approach.png
  docs/zkEVM/zkProver/figures/fib10-pil-eg-mfibonacci.png
  docs/zkEVM/zkProver/figures/fib11-pilcom-res-mfibon.png
  docs/zkEVM/zkProver/figures/fib12-inside-parsed-pil.png
  docs/zkEVM/zkProver/figures/fib13-pil-stark-setup.png
  docs/zkEVM/zkProver/figures/fib14-pil-stark-in-prover.png
  docs/zkEVM/zkProver/figures/fib15-pil-stark-in-verifier.png
  docs/zkEVM/zkProver/figures/fib2-simplified-sm-eg.png
  docs/zkEVM/zkProver/figures/fib3-sm-compt-trace.png
  docs/zkEVM/zkProver/figures/fib4-deterministic-compt.png
  docs/zkEVM/zkProver/figures/fib5-design-approach-outline.png
  docs/zkEVM/zkProver/figures/fib6-mfibon-sm-2-regs.png
  docs/zkEVM/zkProver/figures/fib7-mfibon-sm-3-regs.png
  docs/zkEVM/zkProver/figures/fib8-code-eg-exec-trace.png
  docs/zkEVM/zkProver/figures/fib9-stark-prf-sizes-times.png
  docs/zkEVM/zkProver/mfibonacci-example.md
  docs/zkEVM/zkProver/pil-stark.md
  docs/zkEVM/zknode/figures/fig3-zkNode-arch.png
  docs/zkEVM/zknode/overview.md
Labels: enhancement, PR: Please Review, T10: zkEVM

#1533 feat(zkEVM): add index page for zkEVM
  docs/zkEVM/features.js
  docs/zkEVM/index.md
  docs/zkEVM/landing.js
  docusaurus.config.js
  sidebars.js
  src/css/custom.css
  src/pages/index.js
Labels: enhancement, T10: zkEVM, PR: ready to ship

#1535 feat(maticjs): update zkEVM network api docs
  docs/develop/ethereum-polygon/matic-js/zkevm/erc20.md
  sidebars.js
Labels: enhancement, T1: Develop

#1537 feat(wiki): add faq links to Navbar
  docusaurus.config.js
Labels: enhancement, P3: Nice To Have, PR: ready to ship

#1538 Update information from Node setup guides
  docs/faq/validator-faq.md
  docs/maintain/validate/kb/known-issues.md
  docs/maintain/validate/run-validator-ansible.md
  docs/maintain/validate/run-validator-binaries.md
  docs/maintain/validate/run-validator.md
  docs/maintain/validate/validator-node-system-requirements.md
  docs/operate/full-node-binaries.md
  docs/operate/full-node-deployment.md
  docs/operate/full-node-docker.md
  docs/operate/full-node.md
  docs/operate/technical-requirements.md
Labels: PR: Please Review

#1542 feat(zkEVM): update index.md
  docs/zkEVM/index.md
Labels: T10: zkEVM

#1539 fix(supernets): deployment
  docs/supernets/faq.md
  docs/supernets/operate/deploy-bridge.md
  docs/supernets/operate/install.md
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
Labels: bug, enhancement, T14: Supernets

#1530 update seeds
  docs/maintain/validate/run-validator-ansible.md
  docs/maintain/validate/run-validator-binaries.md
  docs/maintain/validate/run-validator.md
  docs/operate/full-node-binaries.md
  docs/operate/full-node-deployment.md
  docs/operate/full-node-docker.md
Labels: PR: Please Review

#1545 feat(develop): adds zkEVM wallet tutorial
  docs/zkEVM/wallet/usage-guide.md
  sidebars.js
  static/img/zkevm/bridge1.jpg
  static/img/zkevm/bridge2.jpg
  static/img/zkevm/bridge3.jpg
  static/img/zkevm/metamask1.jpg
  static/img/zkevm/transaction-history.jpg
  static/img/zkevm/zkevmwallettestnet.mp4
  static/img/zkevm/zkwallet-1.jpg
  static/img/zkevm/zkwallet0.jpg
Labels: PR: change request, new page

#1546 feat(PoS): update seeds for Mumbai
  docs/operate/full-node-binaries.md
  docs/operate/full-node-docker.md
Labels: bug, T4: PoS, PR: ready to ship

#1548 feat/update(supernets): init cloud deployment guide and guide updates
  docs/supernets/get-started/what-are-supernets.md
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/install.md
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
  docs/supernets/operate/setup-dev-env.md
  sidebars.js
  static/img/supernets/supernets-setup.excalidraw.png
Labels: enhancement, new page, T14: Supernets

#1551 feat/enh(supernets): Init additional asset and validator interfaces + improvements to deployment guides
  docs/supernets/get-started/what-are-supernets.md
  docs/supernets/interfaces/cryptography/bls.md
  docs/supernets/interfaces/cryptography/bn256g2.md
  docs/supernets/interfaces/erc1155/childerc1155-predicate.md
  docs/supernets/interfaces/erc1155/childerc1155.md
  docs/supernets/interfaces/erc1155/rooterc1155-predicate.md
  docs/supernets/interfaces/erc20/childerc20-predicate.md
  docs/supernets/interfaces/erc20/childerc20.md
  docs/supernets/interfaces/erc20/native-erc20.md
  docs/supernets/interfaces/erc20/rooterc20-predicate.md
  docs/supernets/interfaces/erc721/childerc721-predicate.md
  docs/supernets/interfaces/erc721/childerc721.md
  docs/supernets/interfaces/erc721/rooterc721-predicate.md
  docs/supernets/interfaces/network/checkpoint-manager.md
  docs/supernets/interfaces/network/exit-helper.md
  docs/supernets/interfaces/network/state-receiver.md
  docs/supernets/interfaces/network/state-sender.md
  docs/supernets/interfaces/validators/root-validator-set.md
  docs/supernets/interfaces/validators/validator-set-base.md
  docs/supernets/interfaces/validators/validators.md
  docs/supernets/operate/deploy-bridge.md
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
  sidebars.js
Labels: bug, enhancement, new page, T14: Supernets

#1556 enh(supernets): general improvements to deployment guides
  docs/supernets/operate/local-blockchain.md
  docs/supernets/operate/local-supernet.md
  src/css/custom.css
Labels: enhancement, T14: Supernets

#1552 Update chainlink.md
  docs/develop/oracles/chainlink.md
Labels: enhancement, T1: Develop

#1557 Change link
  docs/zkEVM/develop.md
Labels: enhancement, T10: zkEVM

#1555 feat(PoS): update full node setup guides
  docs/operate/full-node-binaries.md
  docs/operate/full-node-deployment.md
  docs/operate/full-node-docker.md
  docs/operate/full-node.md
Labels: enhancement, PR: Please Review, T4: PoS
