Repository maticnetwork/matic-docs, pull requests merged in 2023-07, with the labels that each got.

#1757 Update full-node-deployment.md
  docs/pos/operate/node/full-node-deployment.md
Labels: pos:mainnet, type:footprint

#1758 Update faqs.md
  docs/pos/faqs.md
Labels: type:enhancement, pos:mainnet

#1759 Update faqs.md
  docs/pos/faqs.md
Labels: pos:mainnet, type:footprint

#1762 fix: messages
  docs/contribute/writing-style.md
  docs/miden/design/chiplets/hasher.md
  docs/miden/design/main.md
  docs/miden/design/stack/field_ops.md
  docs/pos/design/bor/consensus.md
  docs/pos/design/bridge/l1-l2-communication/ethereum-to-matic.md
  docs/pos/design/bridge/l1-l2-communication/matic-to-ethereum.md
  docs/pos/design/heimdall/checkpoint.md
  docs/pos/design/heimdall/encoder.md
  docs/pos/design/validator/responsibilities.md
  docs/pos/develop/did-implementation.md
  docs/pos/faqs.md
Labels: type:footprint
