Repository maticnetwork/matic-docs, pull requests merged in 2023-02, with the labels that each got.

#1350 feat(zkEVM): improve the zkNode setup guide
  docs/zkEVM/setup-local-node.md
Labels: PR: Please Review, T10: zkEVM

#1342 feat(supernets): ExitHelper root contract
  docs/supernets/contracts/exit-helper.md
  sidebars.js
Labels: PR: Needs SME Review, new page, T14: Supernets

#1343 update(supernets): CheckpointManager contract
  docs/supernets/bridge/checkpoint.md
  docs/supernets/contracts/checkpoint-manager.md
Labels: enhancement, PR: Needs SME Review, T14: Supernets

#1314 add(edge): add faq
  docs/edge/api/json-rpc-debug.md
  docs/edge/consensus/pos-concepts.md
  docs/edge/consensus/pos-stake-unstake.md
  docs/edge/faq/Validators.md
  docs/edge/get-started/cli-commands.md
Labels: enhancement, T6: Edge

#1346 Updates FAQ page
  docs/faq/adding-a-custom-token.md
  docs/faq/commit-chain-multisigs.md
  docs/faq/consensys-framework.md
  docs/faq/general-faq.md
  docs/faq/staking-faq.md
  docs/faq/technical-faqs.md
  docs/faq/wallet-bridge-faq.md
  docs/faq/widget-faq.md
  docs/maintain/validate/validator-responsibilities.md
  docs/maintain/validator/responsibilities.md
  docusaurus.config.js
  sidebars.js
Labels: enhancement, PR: Please Review, PR: Needs SME Review

#1356 enh(supernets): tweaks
  docs/supernets/architecture.md
  docs/supernets/bridge/overview.md
  docs/supernets/bridge/statesync.md
  docs/supernets/overview.md
  docs/supernets/polybft.md
  sidebars.js
  src/data/features.js
Labels: enhancement, T14: Supernets

#1355 feat(zkEVM): update zkEVM Protocol docs images
  docs/zkEVM/protocol/figures/01L2-overview-l2-state-management.png
  docs/zkEVM/protocol/figures/02l2-l2-state-timeline.png
  docs/zkEVM/protocol/figures/03l2-sequencing-batches.png
  docs/zkEVM/protocol/figures/04l2-batch-chain-acc-hash.png
  docs/zkEVM/protocol/figures/05l2-off-chain-on-chain-trans.png
  docs/zkEVM/protocol/figures/06l2-actor-income-outcomes.png
  docs/zkEVM/protocol/figures/07l2-batch-fee-var.png
  docs/zkEVM/protocol/figures/08l2-batches-below-time-target.png
  docs/zkEVM/protocol/figures/09l2-forced-batch-seq-flow.png
  docs/zkEVM/protocol/figures/10l2-diff-trustd-virtual-state.png
  docs/zkEVM/protocol/figures/11l2-stages-timeline-pending.png
  docs/zkEVM/protocol/figures/fig2-simple-poe.png
Labels: enhancement, P1: Important, T10: zkEVM, PR: ready to ship

#1353 feat(zkEVM): adds arithmetic state machine docs
  docs/zkEVM/zkProver/arithmetic-sm.md
  docs/zkEVM/zkProver/figures/01arith-sch-mlt-eg.png
  docs/zkEVM/zkProver/figures/01bin-cdfctn-3bit-strngs.png
  docs/zkEVM/zkProver/figures/01mem-align-schm-mld-eg.png
  docs/zkEVM/zkProver/figures/01mem-fig-exec-trc.png
  docs/zkEVM/zkProver/figures/02bin-trth-tbls-bitws.png
  docs/zkEVM/zkProver/figures/02mem-align-schm-mstr-eg.png
  sidebars.js
Labels: PR: change request, new page, T10: zkEVM

#1359 fix(typo): in Token Mapper document
  docs/develop/ethereum-polygon/submit-mapping-request.md
Labels: PR: Please Review, typo

#1361 feat(zkEVM): publish Hashing SM docs
  docs/zkEVM/zkProver/bits2field-sm.md
  docs/zkEVM/zkProver/figures/01b2f-44-2-one-multiplex.png
  docs/zkEVM/zkProver/figures/01kkb-chunk-divs-136-bytes.png
  docs/zkEVM/zkProver/figures/01kkf-state-array-calibrated.png
  docs/zkEVM/zkProver/figures/01pkk-input-strings-allocate.png
  docs/zkEVM/zkProver/figures/01psd-hades-based-poseidon-perm.png
  docs/zkEVM/zkProver/figures/02b2f-44-bits-to-64bit-fe.png
  docs/zkEVM/zkProver/figures/02kkb-pad-kk-bit-to-kk-f.png
  docs/zkEVM/zkProver/figures/02kkf-theta-map-one-bit.png
  docs/zkEVM/zkProver/figures/02psd-poseidon-hash-pic.png
  docs/zkEVM/zkProver/figures/03kkf-pi-stepmap-shuffle.png
  docs/zkEVM/zkProver/figures/04kkf-chi-map-5bit-row.png
  docs/zkEVM/zkProver/figures/05kkf-iota-rc-bits-lfsr.png
  docs/zkEVM/zkProver/figures/06kkf-all-24-rc-hex.png
  docs/zkEVM/zkProver/figures/hsh01-sponge-construction.png
  docs/zkEVM/zkProver/figures/hsh02-sm-kk-framework.png
  docs/zkEVM/zkProver/intro-hashing-sm.md
  docs/zkEVM/zkProver/keccak-framework.md
  docs/zkEVM/zkProver/keccakf-sm.md
  docs/zkEVM/zkProver/paddingkk-bit-sm.md
  docs/zkEVM/zkProver/paddingkk-sm.md
  docs/zkEVM/zkProver/poseidon-sm.md
  sidebars.js
Labels: PR: Please Review, new page, T10: zkEVM

#1360 fix(zkEVM): update consensus contract address on Goerli
  docs/zkEVM/protocol/consensus.md
  docs/zkEVM/protocol/introduction.md
Labels: bug, T10: zkEVM

#1354 feat(supernets): faqs
  docs/supernets/faq.md
  sidebars.js
Labels: new page, T14: Supernets

#1362 feat(zkEVM): update zkProver overview document
  docs/zkEVM/zkProver/overview.md
Labels: PR: Please Review, T10: zkEVM

#1363 Fix State Sync page URL
  docs/develop/l1-l2-communication/fx-portal.md
  docs/pos/state-sync/state-sync-mechanism.md
Labels: PR: Please Review

#1367 chore(wiki): update index.js
  src/pages/index.js
Labels: enhancement, PR: Please Review

#1366 fix(zkEVM): typos and broken links
  docs/zkEVM/zknode/overview.md
Labels: T10: zkEVM, typo

#1371 Update full-node-binaries.md
  docs/develop/network-details/full-node-binaries.md
Labels: enhancement, T1: Develop, PR: ready to ship

#1372 Improved Token Swap and Token List
  docs/develop/wallets/polygon-web-wallet/web-wallet-v3-guide.md
Labels: PR: Please Review

#1373 feat(zkEVM): add Memory and Mem-align SM docs
  docs/zkEVM/zkProver/figures/1.png
  docs/zkEVM/zkProver/figures/2.png
  docs/zkEVM/zkProver/figures/3.png
  docs/zkEVM/zkProver/mem-align-sm.md
  docs/zkEVM/zkProver/memory-sm.md
  sidebars.js
Labels: PR: Please Review, new page, T10: zkEVM

#1375 Improved Set Proof Api
  docs/develop/ethereum-polygon/matic-js/set-proof-api.md
Labels: enhancement, T1: Develop

#1374 feat(zkEVM): adds Binary SM docs
  docs/zkEVM/zkProver/binary-sm.md
  sidebars.js
Labels: new page, T10: zkEVM

#1378 feat(zkEVM): restructure content and fix typo
  docs/zkEVM/zkProver/exec-trace-correct.md
  sidebars.js
Labels: enhancement, PR: Please Review, T10: zkEVM

#1383 chore(wiki): removes duplicate metamask doc
  docs/develop/wallets/metamask.md
  docusaurus.config.js
Labels: T1: Develop, PR: ready to ship

#1379 Updates Validator Setup
  docs/develop/network-details/full-node-docker.md
  docs/maintain/validate/bloxroute.md
  docs/maintain/validate/run-validator-ansible.md
  docs/maintain/validate/run-validator-binaries.md
  docs/maintain/validate/run-validator.md
  sidebars.js
Labels: PR: Please Review, PR: Needs SME Review

#1381 feat(zkEVM): adds zkEVM gas station doc
  docs/develop/tools/zkevm-gas-station.md
  sidebars.js
Labels: PR: Please Review, new page, T10: zkEVM

#1388 fix(develop): typo in zkEVM gas station doc
  docs/develop/tools/zkevm-gas-station.md
Labels: T1: Develop, typo

#1390 feat(zkEVM): update protocol documentation
  docs/zkEVM/protocol/admin-role.md
  docs/zkEVM/protocol/emergency-state.md
  docs/zkEVM/protocol/figures/governance-tree.png
  docs/zkEVM/protocol/figures/tup-pattern.png
  docs/zkEVM/protocol/incentive-mechanism.md
  docs/zkEVM/protocol/introduction.md
  docs/zkEVM/protocol/state-management.md
  docs/zkEVM/protocol/upgradability.md
  sidebars.js
Labels: enhancement, PR: Please Review, T10: zkEVM

#1393 feat(zkEVM): update tx life cycle doc
  docs/zkEVM/protocol/l2-transaction-cycle-intro.md
Labels: enhancement, PR: Please Review, T10: zkEVM

#1401 feat(zkEVM): rearrange zkevm guides and add gas station doc
  docs/zkEVM/zkevm-gas-station.md
  sidebars.js
Labels: enhancement, T10: zkEVM

#1405 Added Link to Popular dApps in Polygon Ecosystem
  docs/develop/developer-resources.md
Labels: enhancement, PR: Please Review, T1: Develop

#1404 Added Further Resources
  docs/home/blockchain-basics/basics-gas.md
Labels: enhancement, PR: Please Review, T0: Learning

#1403 Added Further Reading
  docs/home/polygon-basics/zkEVM-basics.md
Labels: enhancement, PR: Please Review, T10: zkEVM

#1408 feat(gov): pip content
  docs/maintain/govern/pips.md
  docs/maintain/govern/pips/community-guidelines.md
  docs/maintain/govern/pips/forum.md
  docs/maintain/govern/pips/how-to-pip.md
  docs/maintain/govern/pips/pips.md
  sidebars.js
  src/data/features.js
Labels: P1: Important, PR: Please Review, T15: Governance

#1406 Update l2-transaction-cycle-intro.md
  docs/zkEVM/protocol/l2-transaction-cycle-intro.md
Labels: enhancement, T10: zkEVM

#1415 feat(governance): writing style changes to PIP content
  docs/maintain/govern/pips/community-guidelines.md
  docs/maintain/govern/pips/forum.md
  docs/maintain/govern/pips/how-to-pip.md
  docs/maintain/govern/pips/pips.md
  sidebars.js
Labels: PR: Please Review, T15: Governance
