Repository maticnetwork/matic-docs, pull requests merged in 2023-06, with the labels that each got.

#1686 Update run-validator-ansible.md
  docs/maintain/validate/run-validator-ansible.md
Labels: pos:mainnet, type:footprint

#1685 update: Algolia API key
  docusaurus.config.js
Labels: need:review, type:chore

#1688 feat(supernets): distinguish chain-id and supernet-id
  docs/supernets/operate/deploy/genesis.md
Labels: type:enhancement, pos:supernets

#1687 feat(supernets): StakeManager deploy
  docs/supernets/operate/deploy/rootchain-config.md
Labels: type:enhancement, pos:supernets

#1690 feat(supernets): v1.0.0-RC
  docs/supernets/changelog.md
  docs/supernets/faq.md
  docs/supernets/get-started/what-are-supernets.md
  docs/supernets/operate/cross-chain.md
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/deploy/index.md
  docs/supernets/operate/deploy/staking/unstake.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/install.md
  docs/supernets/operate/quick-start.md
  docs/supernets/operate/system.md
  sidebars.js
Labels: type:enhancement, pos:supernets

#1691 Resolve code block white-space formatting issue
  src/css/custom.css
Labels: type:enhancement

#1699 feat(supernets): staking rootchain interfaces + eip1559
  docs/supernets/interfaces/eip1559.md
  docs/supernets/interfaces/staking/custom-supernet-manager.md
  docs/supernets/interfaces/staking/stake-manager.md
  docs/supernets/interfaces/staking/supernet-manager.md
  docs/supernets/modules/access-control.md
  docs/supernets/modules/consensus.md
  docs/supernets/modules/delegation.md
  docs/supernets/modules/storage.md
  docs/supernets/modules/withdrawal.md
  sidebars.js
Labels: type:new, pos:supernets

#1700 enh(supernets): add new mintable func. to cross-chain guide
  docs/supernets/operate/cross-chain.md
Labels: type:enhancement, pos:supernets

#1701 chore(wiki): temp remove outdated Basics content
  docusaurus.config.js
  sidebars.js
Labels: area:learn, type:chore

#1702 Fix package import in DID Implementation
  docs/develop/did-implementation.md
Labels: area:build, type:footprint

#1703 enh(supernets): improve knowledge management
  docs/supernets/faq.md
  docs/supernets/index.mdx
  docs/supernets/operate/cross-chain.md
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/deploy/access-control/allowlist.md
  docs/supernets/operate/deploy/genesis.md
  docs/supernets/operate/deploy/index.md
  docs/supernets/operate/deploy/local-supernet.md
  docs/supernets/operate/deploy/rootchain-config.md
  docs/supernets/operate/deploy/staking/stake.md
  docs/supernets/operate/deploy/staking/unstake.md
  docs/supernets/operate/deploy/start-chain.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/quick-start.md
  sidebars.js
Labels: type:enhancement, pos:supernets

#1704 enh(supernets): latest flag updates for rc
  docs/supernets/operate/deploy/genesis.md
  docs/supernets/operate/deploy/rootchain-config.md
Labels: type:enhancement, pos:supernets

#1707 feat(supernets): init manpage
  docs/supernets/operate/param-reference.md
  sidebars.js
Labels: type:new, pos:supernets

#1710 feat(supernets): various improvements to deployment guides and prep for v1.0
  docs/supernets/get-started/what-are-supernets.md
  docs/supernets/operate/cross-chain.md
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/deploy/access-control/allowlist-general.md
  docs/supernets/operate/deploy/access-control/allowlist-genesis.md
  docs/supernets/operate/deploy/genesis-validators.md
  docs/supernets/operate/deploy/genesis.md
  docs/supernets/operate/deploy/index.md
  docs/supernets/operate/deploy/staking/stake.md
  docs/supernets/operate/deploy/staking/unstake.md
  docs/supernets/operate/deploy/start-chain.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/install.md
  docs/supernets/operate/param-reference.md
  docs/supernets/operate/system.md
  sidebars.js
Labels: type:enhancement, type:new, pos:supernets, type:refactor

#1711 enh(supernets): include server param table on manpage and polish
  docs/supernets/operate/param-reference.md
Labels: type:enhancement, pos:supernets

#1713 add: Infra providers and wallet
  docs/develop/wallets/getting-started.md
  docusaurus.config.js
Labels: ext:infra, type:footprint, ext:wallet

#1712 enh(supernets): migration guide
  docs/supernets/operate/ibft-to-polybft.md
Labels: type:enhancement, pos:supernets

#1715 feat(supernets): use-case oriented updates to deploy/operate
  docs/supernets/operate/deploy/access-control/allowlist-general.md
  docs/supernets/operate/deploy/access-control/allowlist-genesis.md
  docs/supernets/operate/deploy/rootchain-config.md
  docs/supernets/operate/deploy/transfers/deposit.md
  docs/supernets/operate/deploy/transfers/withdraw.md
  docs/supernets/operate/param-reference.md
  sidebars.js
Labels: type:enhancement, type:new, pos:supernets

#1716 update: announcement bar with wiki search update
  docusaurus.config.js
Labels: P1

#1718 Updated stake-manager-deploy commands to new version
  docs/supernets/operate/deploy/rootchain-config.md
Labels: pos:supernets, type:footprint

#1720 Update allowlist-general.md
  docs/supernets/operate/deploy/access-control/allowlist-general.md
Labels: type:enhancement, pos:supernets

#1722 Updated flags for polybft-secrets
  docs/supernets/operate/deploy/local-supernet.md
Labels: pos:supernets, type:footprint

#1724 Optimize snapshot downloading script
  docs/operate/snapshot-instructions-heimdall-bor.md
Labels: type:enhancement, pos:mainnet

#1726 stake-manager-deploy fix
  docs/supernets/operate/deploy/rootchain-config.md
Labels: pos:supernets, type:footprint

#1727 polygon-edge server
  docs/supernets/operate/deploy/start-chain.md
Labels: pos:supernets, type:footprint

#1728 update: proof generator api guide
  docs/develop/ethereum-polygon/matic-js/set-proof-api.md
Labels: int:tool

#1729 feat(wiki): polish landing page and entry points
  docusaurus.config.js
  src/data/features.js
  src/pages/index.js
Labels: type:enhancement, P1

#1738 fixes #1737
  docs/supernets/operate/deploy/rootchain-config.md
Labels: type:enhancement, pos:supernets

#1735 doc: correct sprint length
  static/img/Bor/bor-span.png
  static/img/Bor/matic_structure.png
Labels: pos:mainnet, type:footprint

#1731 Add Tatum to the RPC list
  docs/operate/network.md
Labels: ext:infra, type:footprint

#1721 Adding Chain49 to list of RPC providers
  docs/operate/network.md
Labels: type:enhancement, need:change, ext:infra

#1743 enh(supernets): v1.0-rc1 benchmarks and simplify
  docs/supernets/operate/performance.md
Labels: type:enhancement, pos:supernets

#1742 feat(supernets): eip1559 burn
  docs/supernets/design/bridge/assets/erc/erc20.md
  docs/supernets/operate/deploy/genesis.md
Labels: type:enhancement, pos:supernets

#1744 feat(supernets): general updates for v1.0
  docs/supernets/changelog.md
  docs/supernets/design/blockchain.md
  docs/supernets/design/bridge/overview.md
  docs/supernets/design/libp2p.md
  docs/supernets/design/overview.md
  docs/supernets/faq.md
  docs/supernets/features.js
  docs/supernets/get-started/what-are-supernets.md
  docs/supernets/get-started/why-supernets.md
  docs/supernets/index.mdx
  docs/supernets/operate/deploy-cloud.md
  docs/supernets/operate/deploy/genesis-validators.md
  docs/supernets/operate/deploy/genesis.md
  docs/supernets/operate/deploy/index.md
  docs/supernets/operate/deploy/local-supernet.md
  docs/supernets/operate/deploy/rootchain-config.md
  docs/supernets/operate/ibft-to-polybft.md
  docs/supernets/operate/install.md
  docs/supernets/operate/quick-start.md
  sidebars.js
Labels: type:enhancement, pos:supernets, type:chore

#1741 feat(supernets): hardfork
  docs/supernets/operate/deploy/hardfork.md
  sidebars.js
Labels: type:new, pos:supernets

#1745 update(supernets): follow-up-1 improvements post v0.1 doc release
  docs/supernets/get-started/what-are-supernets.md
  docs/supernets/get-started/why-supernets.md
  docs/supernets/operate/deploy/hardfork.md
  docs/supernets/operate/deploy/index.md
  docs/supernets/operate/install.md
  docs/supernets/operate/quick-start.md
  sidebars.js
Labels: type:enhancement, pos:supernets

#1748 update(supernets): follow-up-2 improvements post v1.0 doc release
  docs/supernets/operate/deploy/index.md
  docs/supernets/operate/install.md
  docs/supernets/operate/quick-start.md
Labels: pos:supernets, type:footprint

#1698 Add Umbrella Network
  docs/develop/oracles/umbrella.md
Labels: need:review, type:new, ext:oracle

#1749 Commenting lightpaper
  docusaurus.config.js
Labels: type:footprint

#1746 remove genesis-base-fee flag
  docs/supernets/operate/deploy/genesis.md
Labels: pos:supernets, type:footprint

#1752 fix(redirects): fix duplicate dir in paths
  docusaurus.config.js
Labels: type:footprint

#1753 update(redirects): add missing subdir to paths
  docusaurus.config.js
Labels: type:footprint

#1755 feat(PoS): updates bor and heimdall versions
  docs/pos/design/validator/core-components/state-sync-mechanism.md
  docs/pos/faqs.md
  docs/pos/operate/node/full-node-deployment.md
  docs/pos/operate/validator/run-validator.md
Labels: area:operate, pos:mainnet, type:footprint
